/* Raleway Font */
@font-face {
    font-family: 'ralewayextrabold';
    src: font-url('raleway-extrabold-raleway.eot');
    src: font-url('raleway-extrabold-raleway.eot?#iefix') format('embedded-opentype'),
    font-url('raleway-extrabold-raleway.woff') format('woff'),
    font-url('raleway-extrabold-raleway.ttf') format('truetype'),
    font-url('raleway-extrabold-raleway.svg#ralewayextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaymedium';
    src: font-url('raleway-medium-raleway.eot');
    src: font-url('raleway-medium-raleway.eot?#iefix') format('embedded-opentype'),
    font-url('raleway-medium-raleway.woff') format('woff'),
    font-url('raleway-medium-raleway.ttf') format('truetype'),
    font-url('raleway-medium-raleway.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-raleway.eot');
    src: url('../fonts/raleway-bold-raleway.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold-raleway.woff') format('woff'),
         url('../fonts/raleway-bold-raleway.ttf') format('truetype'),
         url('../fonts/raleway-bold-raleway.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayextralight';
    src: font-url('raleway-extralight-raleway.eot');
    src: font-url('raleway-extralight-raleway.eot?#iefix') format('embedded-opentype'),
    font-url('raleway-extralight-raleway.woff') format('woff'),
    font-url('raleway-extralight-raleway.ttf') format('truetype'),
    font-url('raleway-extralight-raleway.svg#ralewayextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-raleway.eot');
    src: url('../fonts/raleway-light-raleway.eot?#iefix') format('embedded-opentype'),
    font-url('../fonts/raleway-light-raleway.woff') format('woff'),
    font-url('../fonts/raleway-light-raleway.ttf') format('truetype'),
    font-url('../fonts/raleway-light-raleway.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaythin';
    src: font-url('raleway-thin-raleway.eot');
    src: font-url('raleway-thin-raleway.eot?#iefix') format('embedded-opentype'),
    font-url('raleway-thin-raleway.woff') format('woff'),
    font-url('raleway-thin-raleway.ttf') format('truetype'),
    font-url('raleway-thin-raleway.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaysemibold';
    src: font-url('raleway-semibold-raleway.eot');
    src: font-url('raleway-semibold-raleway.eot?#iefix') format('embedded-opentype'),
    font-url('raleway-semibold-raleway.woff') format('woff'),
    font-url('raleway-semibold-raleway.ttf') format('truetype'),
    font-url('raleway-semibold-raleway.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayregular';
    src: font-url('raleway-regular-raleway.eot');
    src: font-url('raleway-regular-raleway.eot?#iefix') format('embedded-opentype'),
    font-url('raleway-regular-raleway.woff') format('woff'),
    font-url('raleway-regular-raleway.ttf') format('truetype'),
    font-url('raleway-regular-raleway.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayheavy';
    src: font-url('raleway-heavy-raleway.eot');
    src: font-url('raleway-heavy-raleway.eot?#iefix') format('embedded-opentype'),
    font-url('raleway-heavy-raleway.woff') format('woff'),
    font-url('raleway-heavy-raleway.ttf') format('truetype'),
    font-url('raleway-heavy-raleway.svg#ralewayheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Main CSS */
body {
    background: #e9edf4; /* Old browsers */
    background: -moz-linear-gradient(top,  #e9edf4 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9edf4), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e9edf4 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e9edf4 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e9edf4 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e9edf4 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9edf4', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    font-family: "ralewaylight", Helvetica, Arial, sans-serif;
}

.jumbotron {
    background: inherit;
}

.acog .panel {
    background: inherit;
}


.acog label {
    width: 130px;
    padding: 5px 0 0 0;
    font-family: "ralewaylight", Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #265298 !important;
    margin-top: 10px;
}

.acog p.forgot {
    font-family: "ralewaybold", Helvetica, Arial, sans-serif;
    color: #265298;
    font-size: 14px;
    padding: 0;
    margin: 0 0 20px;
    width: 100%;
}

.acog .row.logo {
    min-height: 7em;
    margin-left: -6em;
}

.acog .row.main {
    height: 5em;
}

.acog .row.register {
    height: 2em;
}

.acog .row.contact {
    height: 4em;
}

.acog .row.version {
    height: 4em;
}

.acog .form-control {
    font-family: "ralewaylight", Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #265298 !important;
    height: 40px;
}

.acog .label {
    font-weight: bolder;
}

.acog input.ng-valid, input.ng-invalid {
    margin: 10px 0;
    border: 1px solid #265298;
    border-radius: 0;
    height: 40px;
}

.acog input.ng-invalid {
    border: 1px solid #ef4e68;
}

.acog input.ng-pristine {
    border: 1px solid #265298;
}

.acog .input-group {
    width:100%;
}

.acog .btn-success, .btn-success:hover, .btn-success:focus, .btn-default, .btn-default:hover, .btn-default:focus {
    display: inline-block;
    height: 40px;
    border-radius: 0;
    background-color: #81ac0c;
    border: none;
    font-size: 14px;
    font-family: "ralewaybold", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 1 !important;
    vertical-align: top;
    cursor: pointer !important;
}

.acog .btn-info, .btn-info:hover, .btn-info:focus, .col-md-4 a {
    font-family: "ralewayregular", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    background: none;
    padding: 0;
    margin: 0;
    border: 0;
    color: #265298;
    text-decoration: underline;
}

.acog p.change, p.change a {
    margin-top: 60px;
    margin-bottom: 0;
    font-family: "ralewayregular", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #888888;
    width: 100%;
}

.acog p.change a {
    text-decoration: underline;
    cursor: pointer;
}

.acog .log-out-btn {
    display: block;
}

.acog .register.btn-default {
    margin: 10px 0 0 0;
}

.acog .message.info {
    background-color: #ffe87c;
    margin: 2em 0 1em 0;
    padding-left: inherit;
    line-height: inherit;
}

@media (max-width: 767px) {

    .acog .btn-success, .btn-success:hover, .btn-success:focus, .btn-default, .btn-default:hover, .btn-default:focus {
        margin: 0;
    }

    .acog .register.btn-default {
        margin: 0 0 0 5px;
    }

    .acog .editor.btn {
        margin: 0 0 0 0;
    }

    .acog .reader.btn {
        margin: 0 0 0 0;
    }

}

@media (max-width: 992px) {

    .acog .btn-success, .btn-success:hover, .btn-success:focus, .btn-default, .btn-default:hover, .btn-default:focus {
        margin: 0;
    }

    .acog .register.btn-default {
        margin: 0 0 0 5px;
    }

    .acog .login.btn {
        margin: 10px 0 0 0;
    }

    .acog .editor.btn {
        margin: 0 0 0 0;
    }

    .acog .reader.btn {
        margin: 0 0 0 0;
    }


}

@media (max-width: 3000px) {

    .acog .btn-success, .btn-success:hover, .btn-success:focus, .btn-default, .btn-default:hover, .btn-default:focus {
        margin: 0;
    }

    .acog .register.btn-default {
        margin: 0 0 0 5px;
    }

    .acog .forgotten.btn-default {
        margin: 0 0 0 5px;
    }

    .acog .login.btn {
        margin: 10px 0 0 0;
    }

    .acog .editor.btn {
        margin: 0 0 0 0;
    }

    .acog .reader.btn {
        margin: 0 0 0 0;
    }

}