/* Raleway Font */
@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway-extrabold-raleway.eot');
    src: url('../fonts/raleway-extrabold-raleway.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-extrabold-raleway.woff') format('woff'),
    url('../fonts/raleway-extrabold-raleway.ttf') format('truetype'),
    url('../fonts/raleway-extrabold-raleway.svg#ralewayextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-raleway.eot');
    src: url('../fonts/raleway-medium-raleway.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-medium-raleway.woff') format('woff'),
    url('../fonts/raleway-medium-raleway.ttf') format('truetype'),
    url('../fonts/raleway-medium-raleway.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-raleway.eot');
    src: url('../fonts/raleway-bold-raleway.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-bold-raleway.woff') format('woff'),
    url('../fonts/raleway-bold-raleway.ttf') format('truetype'),
    url('../fonts/raleway-bold-raleway.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayextralight';
    src: url('../fonts/raleway-extralight-raleway.eot');
    src: url('../fonts/raleway-extralight-raleway.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-extralight-raleway.woff') format('woff'),
    url('../fonts/raleway-extralight-raleway.ttf') format('truetype'),
    url('../fonts/raleway-extralight-raleway.svg#ralewayextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-raleway.eot');
    src: url('../fonts/raleway-light-raleway.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-light-raleway.woff') format('woff'),
    url('../fonts/raleway-light-raleway.ttf') format('truetype'),
    url('../fonts/raleway-light-raleway.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaythin';
    src: url('../fonts/raleway-thin-raleway.eot');
    src: url('../fonts/raleway-thin-raleway.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-thin-raleway.woff') format('woff'),
    url('../fonts/raleway-thin-raleway.ttf') format('truetype'),
    url('../fonts/raleway-thin-raleway.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold-raleway.eot');
    src: url('../fonts/raleway-semibold-raleway.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-semibold-raleway.woff') format('woff'),
    url('../fonts/raleway-semibold-raleway.ttf') format('truetype'),
    url('../fonts/raleway-semibold-raleway.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-raleway.eot');
    src: url('../fonts/raleway-regular-raleway.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-regular-raleway.woff') format('woff'),
    url('../fonts/raleway-regular-raleway.ttf') format('truetype'),
    url('../fonts/raleway-regular-raleway.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayheavy';
    src: url('../fonts/raleway-heavy-raleway.eot');
    src: url('../fonts/raleway-heavy-raleway.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-heavy-raleway.woff') format('woff'),
    url('../fonts/raleway-heavy-raleway.ttf') format('truetype'),
    url('../fonts/raleway-heavy-raleway.svg#ralewayheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Main CSS */
nav, h1, .panel-heading {
    display: none;
}
.jumbotron {
    background: none;
    margin: 0;
    padding: 0;
}
#wrap {
    display: block;
    margin: 80px auto 0;
    width: 580px;
    background: url("../images/asnc-splash-logo.png") top no-repeat;
    padding-top: 153px;
    min-height: inherit;
}
.jumbotron {
    line-height: 0;
}
.container {
    margin-left: 123px;
    padding: 0;
    width: 457px;
    margin-top: 0 !important;
}
.panel, .panel-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
}
.col-sm-6, .col-md-6 {
    width: auto;
    display: inline-block;
}
.col-sm-6 label, .col-md-12 label, .col-md-6 label {
    width: 130px;
    padding: 5px 0 0 0;
    font-family: "ralewaylight", Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #158286 !important;
    margin-top: 10px;
}
label {
    font-weight: normal
}
select {
    display: inline-block;
    border: 1px solid #158286;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    height: 40px;
    padding-left: 12px !important;
    font-family: "ralewaylight", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #158286 !important;
    outline: none;
    cursor: pointer;
    background: #fff url(../images/down-arrow.png) 92% center no-repeat;
    overflow: hidden;
    appearance: none;
}
select::-ms-expand {
    display: none;
}
#userCountry, #userState {
    width: 200px;
    margin: 10px 0;
}
select * {
    font-size: 18px;
}
p.forgot {
    font-family: "ralewaybold", Helvetica, Arial, sans-serif;
    color: #158286;
    font-size: 14px;
    padding: 0;
    margin: 0 0 20px;
    width: 100%;
}
.row {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
}
.col-md-12 {
    padding-right: 0;
}
.panel-body {
    padding: 0;
    margin: 0;
}
.container form {
    padding: 0;
    margin: 0 0 30px;
}
.navbar-right {
    float: none !important;
}
.form-control {
    font-family: "ralewaylight", Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #158286 !important;
    padding: 0 0 0 12px;
    height: 40px;
    width: 300px;
}
input.ng-valid, input.ng-invalid {
    margin: 10px 0;
    border: 1px solid #158286;
    border-radius: 0;
    display: inline-block;
}
input.ng-invalid {
    border: 1px solid #ef4e68;
}
input.ng-pristine {
    border: 1px solid #158286;
}
.form-group {
    margin: 0;
}
.btn-success, .btn-success:hover, .btn-success:focus, .btn-default, .btn-default:hover, .btn-default:focus {
    display: inline-block;
    margin: 10px 0 0 20px;
    height: 40px;
    border-radius: 0;
    background-color: #158286 !important;
    border: none;
    font-size: 14px;
    font-family: "ralewaybold", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 1 !important;
    vertical-align: top;
    cursor: pointer !important;
}
.btn-info, .btn-info:hover, .btn-info:focus, .col-md-4 a {
    font-family: "ralewayregular", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    border: 0;
    color: #158286;
    text-decoration: underline;
}
.col-md-4 {
    width: 100%;
}
.col-md-4 p a, .col-md-4 p a:hover, .col-md-4 p a:focus {
    margin: 0 0 20px;
    padding: 10px 12px;
    color: #ffffff;
    font-family: "ralewaybold", Helvetica, Arial, sans-serif;
    text-decoration: none;
    height: auto;
}
p {
    margin: 0;
}
.col-md-4 a {
    display: block;
    padding-bottom: 20px;
}
.col-md-12 .error, .col-md-12 select, .col-md-12 .small {
    font-family: "ralewayregular", Helvetica, Arial, sans-serif;
    color: #888888;
    width: 300px;
}
.col-md-6 .error, .col-md-6 small, .col-md-6 .small {
    display: none;
}
.col-md-10 {
    width: 100%;
}
p.change, p.change a {
    margin-top: 60px;
    margin-bottom: 0;
    font-family: "ralewayregular", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #888888;
    width: 100%;
}
p.change a {
    text-decoration: underline;
    cursor: pointer;
}
#footer {
    display: block;
    margin: 60px auto 20px;
    width: 580px;
    padding: 0;
    background-color: #ffffff;
    font-family: "ralewayregular", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #888888;
}
.sign-btn, .sign-btn:hover {
    margin: 10px 0 0 130px;
}
.ser-ref {
    display: none;
}
.spinner {
    margin: 0 0 0 123px;
    width: 20px;
    height: 20px;
    position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
    width: 6px;
    height: 6px;
    background-color: #158286;

    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
.alert-info {
    background-color: #ffffff;
    border: 0;
    width: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 40px;
}
.alert {
    padding: 0 0 20px;
    margin: 0;
    font-family: "ralewaybold", Helvetica, Arial, sans-serif;
    color: #ef4e68;
}
.alerts {
    margin-left: 123px;
}
.error {
    margin: 0;
    padding: 0;
    color: #ef4e68 !important;
}
.navbar-form .form-group, .navbar-form .form-group a {
    font-family: "ralewaylight", Helvetica, Arial, sans-serif;
    font-size: 28px;
    color: #158286;
    height: 40px;
}
.log-out-btn {
    display: block;
}
@media (max-width: 767px) {
    .spinner {
        margin: 0;
    }
    .col-md-4 p a, .col-md-4 p a:hover, .col-md-4 p a:focus {
        display: block;
        font-size: 14px;
    }
    #wrap {
        display: block;
        margin: 60px auto 0;
        width: 280px;
        background: url("../images/asnc-mobile.png") top no-repeat;
        padding: 88px 10px 0;
        min-height: inherit;
    }

    .container {
        margin-left: 0;
        padding: 0;
        width: 260px;
    }

    .form-group {
        width: 190px;
        display: inline-block;
    }

    .form-control {
        font-size: 18px;
        color: #158286 !important;
        padding: 0 0 0 8px;
        height: 30px;
        width: 180px;
        display: inline-block;
        margin-right: 15px;
    }

    .col-md-12 input {
        width: 180px;
    }
    .sign-btn {
        margin-top: 10px;
    }
    .row {
        display: inline-block;
        width: 220px;
        margin-right: 5px;
    }

    .btn-success, .btn-success:hover, .btn-success:focus, .btn-default, .btn-default:hover, .btn-default:focus {
        margin-left: 0;
        height: 30px;
        font-size: 12px;
        display: inline-block;
    }

    #footer {
        width: 260px;
        font-size: 12px;
    }

    .col-sm-6 label, .col-md-12 label, .col-md-6 label {
        margin-bottom: 5px;
        font-size: 18px;
    }

    .col-sm-6 input {
        margin-bottom: 10px;
        width: 260px;
    }

    select {
        padding-left: 8px !important;
        height: 30px;
        margin-bottom: 10px;
    }

    .reg-email input {
        width: 260px !important;
    }

}