/* Styles go here */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    /* Negative indent footer by its height */
    margin: 0 auto -3em;
    /* Pad bottom by footer height */
    /* padding: 0 0 3em; */
}

/* Set the fixed height of the footer here */
#footer {
    padding-top: 1em;
    height: 3em;
    background-color: #eeeeee;
}

.pagestructurefooter {
    display: none;
}

.container .credit {
    margin: 20px 0;
}

/* Registration form Boarder */

input.ng-invalid {
    border: 1px solid red;
}

input.ng-valid {
    border: 1px solid green;
}

.navbar-brand {
     width: 158px;
     height: 30px;
     margin: 15px 0;
     text-shadow: none;
     background-position: left top;
     background-repeat: no-repeat;
     background-size: contain;
 }

.navbar-brand span{
    margin-left: 10em;
}