
@font-face {
    font-family: 'NowceBook';
    src: url('../fonts/nowce-book.eot');
    src: url('../fonts/nowce-book.eot') format('embedded-opentype'),
    url('../fonts/nowce-book.woff2') format('woff2'),
    url('../fonts/nowce-book.woff') format('woff'),
    url('../fonts/nowce-book.ttf') format('truetype'),
    url('../fonts/nowce-book.svg#NowceBook') format('svg');
}

@font-face {
    font-family: 'NowceLight';
    src: url('../fonts/nowce-light.eot');
    src: url('../fonts/nowce-light.eot') format('embedded-opentype'),
    url('../fonts/nowce-light.woff2') format('woff2'),
    url('../fonts/nowce-light.woff') format('woff'),
    url('../fonts/nowce-light.ttf') format('truetype'),
    url('../fonts/nowce-light.svg#NowceLight') format('svg');
}


@font-face {
    font-family: 'NowceBold';
    src:  url('../fonts/nowce-bold.eot');
    src: url('../fonts/nowce-bold.eot') format('embedded-opentype'),
    url('../fonts/nowce-bold.woff2') format('woff2'),
    url('../fonts/nowce-bold.woff') format('woff'),
    url('../fonts/nowce-bold.ttf') format('truetype'),
    url('../fonts/nowce-bold.svg#NowceBold') format('svg');
}

.yesno {
    display: initial;
    vertical-align: super;
}

/* ROUNDED ONE */
.roundedOne {
    width: 28px;
    height: 28px;
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #4dbed5 0%, #4dbed5 40%, #4dbed5 100%);
    background: -moz-linear-gradient(top, #4dbed5 0%, #4dbed5 40%, #4dbed5 100%);
    background: -o-linear-gradient(top, #4dbed5 0%, #4dbed5 40%, #4dbed5 100%);
    background: -ms-linear-gradient(top, #4dbed5 0%, #4dbed5 40%, #4dbed5 100%);
    background: linear-gradient(top, #4dbed5 0%, #4dbed5 40%, #4dbed5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    display:inline-block;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-box-shadow: inset 0px 1px 1px #4dbed5, 0px 1px 3px rgba(77, 190, 213, 1.0);
    -moz-box-shadow: inset 0px 1px 1px #4dbed5, 0px 1px 3px rgba(77, 190, 213, 1.0);
    box-shadow: inset 0px 1px 1px #4dbed5, 0px 1px 3px rgba(77, 190, 213, 1.0);
    position: relative;
}

.roundedOne label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    left: 4px;
    top: 4px;

    -webkit-box-shadow: inset 0px 1px 1px #4dbed5, 0px 1px 3px rgba(77, 190, 213, 1.0);
    -moz-box-shadow: inset 0px 1px 1px #4dbed5, 0px 1px 3px rgba(77, 190, 213, 1.0);
    box-shadow: inset 0px 1px 1px #4dbed5, 0px 1px 3px rgba(77, 190, 213, 1.0);

    background: -webkit-linear-gradient(top, #7d7d7f 0%, #7d7d7f 100%);
    background: -moz-linear-gradient(top, #7d7d7f 0%, #7d7d7f 100%);
    background: -o-linear-gradient(top, #7d7d7f 0%, #7d7d7f 100%);
    background: -ms-linear-gradient(top, #7d7d7f 0%, #7d7d7f 100%);
    background: linear-gradient(top, #7d7d7f 0%, #7d7d7f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedOne label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #e62e21;

    background: -webkit-linear-gradient(top, #e63b21 0%, #e63b21 100%);
    background: -moz-linear-gradient(top, #e63b21 0%, #e63b21 100%);
    background: -o-linear-gradient(top, #e63b21 0%, #e63b21 100%);
    background: -ms-linear-gradient(top, #e63b21 0%, #e65621 100%);
    background: linear-gradient(top, #e63b21 0%, #e65621 100%);

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    top: 2px;
    left: 2px;

    -webkit-box-shadow: inset 0px 1px 1px #4dbed5, 0px 1px 3px rgba(77, 190, 213, 1.0);
    -moz-box-shadow: inset 0px 1px 1px #4dbed5, 0px 1px 3px rgba(77, 190, 213, 1.0);
    box-shadow: inset 0px 1px 1px #4dbed5, 0px 1px 3px rgba(77, 190, 213, 1.0);
}

.roundedOne label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.roundedOne input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

span.editable-buttons > button {
    width:5em;
    height: 40px;
    border-radius: 0;
    background: #4dbed5;
    border: none;
    font-size: 16px;
    font-family: 'NowceBold', "OpenSansBold", Helvetica, Arial, sans-serif;
    line-height: 26px;
    color: #ffffff;
    vertical-align: top;
    cursor: pointer !important;
    border-top: 1px solid #4dbed5;
    border-right: 1px solid #4dbed5;
    border-bottom: 1px solid #4dbed5;
    outline: none;
}

pre {
    border-radius: 0;
}

.jumbotron {
    background: inherit;
    padding: 60px 0 0 0;
    margin: 0;
    font-size: 16px;
}

p, body {
    font-family: "NowceBook", "OpenSansLight", Helvetica, Arial, sans-serif; color: #7d7d7f; font-size: 16px;
}

.indent {
    margin-left: 3em;
}

.featureSubmit {
    margin: 10px;
}

.container.firstContainer {
    margin-top: 72px;
}

.credentialHeading h3 {
    text-align: left;
}

.credential, .disclosureLast, .profile {
    margin-bottom: 1.5em;
}

.profileMenu {
    left: -1.5em;
}

div.citationArticleAndBook div.row {
    margin-bottom: 1em;
}

div.citationArticleAndBook input[type=text] {
    width: 10em;
}

div.citationArticleAndBook span {
    vertical-align: -webkit-baseline-middle;
}


.citation > li > a,
.citation > li > span {
    padding: 0.5em 1.5em;
    font-size: 16px;
    font-family: 'NowceBold', "OpenSansBold", Helvetica, Arial, sans-serif;
    color: #ffffff;
    background: #4dbfd6;
}

.citation > li:first-child > a,
.citation > li:first-child > span {
    border-bottom-left-radius:0;
    border-top-left-radius:0;
}

.citation > li > a:hover,
.citation > li > span:hover,
.citation > li > a:focus,
.citation > li > span:focus {
    background-color: #71eee9;
}

.citation > .active > a,
.citation > .active > span,
.citation > .active > a:hover,
.citation > .active > span:hover,
.citation > .active > a:focus,
.citation > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    cursor: default;
    background-color: #78a3ca;
    border-color: #4dbfd6;
}

.citation pre {
    margin-top : 30px;
    margin-bottom: 30px;
    margin-top : 30px;
    margin-bottom: 30px;
    color: #ffffff;
    border-radius: 0;
    font-size:inherit;
    background-color:#4dbfd6;
}

label~select {
    font-size: 22px;
}

p,
body {
    font-family: "NowceBook", "OpenSansLight",
    Helvetica, Arial, sans-serif; color: #7d7d7f;
}

.search-widget p { padding-top: 10px; margin: 0; font-size: 16px; }

em { font-style: normal; }

hr { border: 0; }

tr:nth-child(even) {background: #f6f6f6; }
tr:nth-child(odd) {background: #ffffff; }
tr:first-child {background: #4dbfd6; color: #ffffff;}

.features > tbody tr:first-child {background: #ffffff; color: #7d7d7f;}

.features > thead tr:first-child {
    background: #ffffff;
    color: #71727f;
    font-size: 2em;
}

table.features {
    margin-top: 3em;
}

table.features tbody tr {
    height: 3em;
}

tbody.feature > thead {
    font-size: 1.5em;
}

tbody.feature {
    font-size: 1.5em;
}

.paygo {
    font-size: 0.5em;
    background-color: #4dbfd6;
    color: #ffffff;
    text-align: center;
}

.paygoTick {
    color: #4dbfd6;
    text-align: center;
}

.enterprise {
    font-size: 0.5em;
    background-color: #e65621;
    color: #ffffff;
    text-align: center;
}

.enterpriseTick {
    color: #e65621;
    text-align: center;
}

.featureSelect {
    text-align: center;
}

.featureHeading {
    font-size: 1.5em;
    color:#e65621;
}

.featureHeading p {
    color:#e65621;
}

.available {
    font-size: 0.5em;
    text-align: center;
    color: #ffffff;
    background-color: rgba(34, 49, 93, 0.27);
}

.subtext {
    font-size: 0.75em;
}

td {
    vertical-align: middle;
}

div.option {
    display: inline-block;
    max-width:90%;
}

div.option > span {
    color: #101010;
}

.tip {
    margin-right: 1em;
    vertical-align: super;
    height: 2em;

}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: none;
    vertical-align: middle;
}

.table-bordered { border: 0; text-align: left; color: #7d7d7f; }

td a { color: #7d7d7f; text-decoration: underline; cursor: pointer; }

td a:hover { color: #4dbfd6; text-decoration: underline; }

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td,
.user-report td {
    padding: 7px 20px; vertical-align: middle
}

.user-report td { text-align: left; }
.editable-empty, .editable-empty:hover,
.editable-empty:focus,
a.editable-empty,
a.editable-empty:hover,
a.editable-empty:focus { color: #e65621; }
/*
.nav-pills li { width: 100%; cursor: pointer; border-bottom: 1px solid #f4f4f4; }
.nav-pills > li + li { margin: 0; }
*/

.nav-pills > li > a {
    border-radius: 0;
    background:#4dbfd6;
    color: #ffffff;
    font-family: "NowceBook", "OpenSansLight", Helvetica, Arial, sans-serif; font-size: 16px;
}

.date-picker tr:first-child { background: none; }
.date-picker tr:nth-child(even) {background: none; }
.date-picker tr:nth-child(odd) {background: none; }
.date-picker table { width: 280px; outline: none; }

.date-picker table button,
.date-picker table button:hover {
    color: #4dbfd6;
    background: #f4f4f4;
    border: 0;
    border-radius: 2px;
    font-family: 'NowceBold', "OpenSansBold", Helvetica, Arial, sans-serif; margin: 0;
}
.date-picker table button span { display: block; }

.date-picker table button span.text-muted {
    color: #999999;
    font-family: "NowceBook", "OpenSansLight", Helvetica, Arial, sans-serif;
}

.date-picker table td {
    width: 12%;
}
.date-picker table button.btn-info:hover,
.date-picker table button.btn-info:focus,
.date-picker table button.btn-info:active,
.date-picker table button.btn-info.active {
    background: #4dbfd6;
    border-radius: 2px;
}

.date-picker table button.btn:active,
.date-picker table button.btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.date-picker table button.btn-info span {
    color: #ffffff;
}
.date-picker table thead button,
.date-picker table thead button:hover,
.date-picker table thead button:focus,
.date-picker table thead button:active {
    background: none;
}
.date-picker table th {
    padding: 0 3px;
}
.date-picker button.btn-success {
    display: block;
    margin: 0;
    height: auto;
    background: #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
    color: #4dbed5;
    opacity: 1 !important;
    border: none;
    outline: none;
    text-decoration: underline;
}
.btn-danger {
    border:1px solid #e65621; background: #e65621;
}

.text-info { color: #e65621;}
.overflowTable { overflow: scroll; }

/* Navigation */

.navbar-inverse {
    background: #f9f9f9;
    border: 0;
}
.NowCE {
    background-image: url("../images/nowce.png");
    width: 144px;
    height: 28px;
}
.navbar > .container .navbar-brand {
    margin-left: 1px;
}

.navbar-brand {
    padding: 0;
}

.jumbotron .container, .container {
    max-width: 1240px;
    position: relative;
    padding: 0;
}

.login {
    display: inline-block;
    border: 1px solid #e65621;
    position: absolute;
    right: 60px;
    top: 50%;
    margin-top: -16px;
    width: 70px;
    font-family: 'NowceBold', "OpenSansBold", Helvetica, Arial, sans-serif;
    color: #e65621;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    z-index: 100;
}
.login li {
    list-style: none;
}
.login a {
    display: block;
    color: #e65621;
    text-decoration: none;
    line-height: 30px;
}

ul {
    -webkit-padding-start:0;
}

.navbar1-nav {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'NowceBold', "OpenSansBold", Helvetica, Arial, sans-serif;
    color: #4dbfd6;
    font-size: 16px;
    margin: 0;
}
.nav:before {
    display: none;
}
.navbar-nav > li {
    display: block;
    float: none;
    text-align: center;
    margin: 10px 0;
}
.navbar-nav > li > a {
    text-align: center;
    padding:0;
    margin: 0;
    text-decoration: none;
    -webkit-transition-property: color, text;
    -webkit-transition-duration: 0.5s, 0.5s;
    -webkit-transition-timing-function: linear, ease-in;
    -moz-transition-property: color, text;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: linear, ease-in;
    -o-transition-property: color, text;
    -o-transition-duration: 0.5s;
    -o-transition-timing-function: linear, ease-in;
}
.navbar-nav > li > a:hover {
    color:#e65621 !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: #4dbfd6;
}
.container > .navbar-header, .container > .navbar-collapse {
    position: relative;
    margin: 0;
    width: 100%;
}
.navbar-toggle {
    display: inline-block;
    position: absolute;
    right:20px;
    top:50%;
    height:25px;
    border-radius: 0;
    float: none;
    padding: 0;
    margin: -13px 0 0;
    cursor: pointer;
    border: none;
}
.navbar-toggle span {
    display:block;
    width:25px;
    height:5px;
    background:#4dbfd6;
    margin-bottom:5px;
}

.gap-right {
    right: 20px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background: #f9f9f9;
    outline: none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border: none;
    padding: 0;
    background: rgba(255,255,255,0.9);
}

#wrap {
    margin: 0 auto -120px;
}
/*
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

 Firefox < 16
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

 Safari, Chrome and Opera > 12.1
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

 Internet Explorer
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

 Opera < 12.1
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
*/


.container form {
    padding: 0;
    margin: 0 0 20px;
}

.navbar-right {
    float: none !important;
}

input.ng-valid, input.ng-invalid {
    border: 1px solid #4dbed5;
    border-radius: 0;
    display: inline-block;
}
input.ng-invalid {
    border: 1px solid #e65520;
}
input.ng-pristine {
    border: 1px solid #4dbed5;
}
.form-group {
    margin: 0;
}

.btn-success, .btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-lg,
.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active,
.open
.dropdown-toggle.btn-default  {
    display: inline-block;
    margin: 10px 0 0 ;
    height: 40px;
    border-radius: 0;
    background: #4dbfd6;
    border: none;
    font-size:16;
    font-family: 'NowceBold', "OpenSansBold", Helvetica, Arial, sans-serif;
    color: #ffffff;
    opacity: 1 !important;
    vertical-align: top;
    cursor: pointer !important;
    border-top: 1px solid #4dbed5;
    border-right: 1px solid #4dbed5;
    border-bottom: 1px solid #4dbed5;
    outline: none;
}

.btn-info,
.btn-info:hover,
.btn-info:focus,
.col-md-4 a {
    font-family: "NowceBook", "OpenSansLight", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 17px;
    background: none;
    padding: 0;
    margin: 0;
    border: 0;
    color: #4dbed5;
    text-decoration: underline;
}

.btn-lg,
.btn-lg:hover,
.btn-lg:focus {
    margin-left: 0;
    border: 1px solid #4dbed5;
}

.loginContainer {
    background: #fbfbfb;
    width: 100%;
}
.loginContainer p {
    font-size:16px; line-height:27px; padding:20px 20px 10px; text-align: center;
}

.loginPassword > form > button[type=submit] {
    margin-top: 0;
}

.navbar-form {
    padding: 0;
    text-align: center;
}
.loginContainer span {
    display: inline-block;
    margin: 0 10px;
}
.optionsContainer {
    text-align: center;
    padding: 20px 0 40px;
}
.navbar-form.navbar-right:last-child {
    margin: 0;
}
.loginContainer h1 {
    display: block;
    width: 100%;
    font-family: "NowceBook","OpenSansLight",Helvetica,Arial,sans-serif;
    font-size: 22px;
    line-height: 34px;
    color: #fff;
    padding: 3px 0;
    background: #4dbfd6;
    text-align: center;
    margin: 0;
}

.paygArrow {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 15px 0 15px;
    border-color: #4dbfd6 transparent transparent transparent;
    margin: 0 auto 20px;
}

.paygArrowOrange {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 15px 0 15px;
    margin: 0 auto 20px;
    border-color: #e65520 transparent transparent transparent;
}

.spinner {
    top:4em;
}

.alert-info {
    background: none;
    border: 0;
    padding: 0;
    z-index: 1000;
}
.alert {
    font-family: "ralewaybold", Helvetica, Arial, sans-serif;
    color: #ef4e68;
    text-align: center;
}
.error {
    margin: 0;
    padding: 0;
    color: #ef4e68 !important;
    text-align: left;
}
.ser-ref {
    display: none;
}

.myNotify {
    position: absolute;
    left: 50%;
    width: auto;
    width: 200px;
    margin-left: -100px;
    top: 300px;
}
.form-group {
    display: inline-block;
}

.col-sm-6 label,
.col-sm-12 label,
.col-md-12 label,
.col-md-6 label,
.col-md-3 label {
    width: 300px;
    font-family: "NowceBook", "OpenSansLight", Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #4dbed5 !important;
    margin-top: 10px;
    text-align: left;
}

.col-md-12 .error,
.col-md-12 select,
.col-md-12 .small {
    font-family: "NowceBook", "OpenSansLight", Helvetica, Arial, sans-serif;
    color: #7d7d7f;
}

.form-control, select.col-md-6 {
    font-family: "NowceBook", "OpenSansLight", Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #4dbed5 !important;
    height: 40px;
    width: 280px;
    border: 1px solid #4dbed5;
    border-radius: 0;
}

.textInput {
    margin-bottom: 1em;
}

span.editable-controls input {
    border: 1px solid #4dbed5;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    height: 40px;
    padding-left: 0.5em;
    font-size: 16px;
    color: #4dbed5 !important;
    outline: none;
    cursor: pointer;
    background: #ffffff;
    overflow: hidden;
}

span.editable-controls select {
    border: 1px solid #4dbed5;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    height: 40px;
    width: 3em;
    padding-left: 0.5em;
    font-size: 16px;
    color: #4dbed5 !important;
    outline: none;
    cursor: pointer;
    background: #ffffff;
    overflow: hidden;
}

select {
    display: inline-block;
    border: 1px solid #4dbed5;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    height: 40px;
    /*padding-left: 12px !important;*/
    font-family: "NowceBook", "OpenSansLight", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #4dbed5 !important;
    outline: none;
    cursor: pointer;
    background: #fff url(../images/down-arrow-nowce.png) 92% center no-repeat;
    overflow: hidden;
    appearance: none;
}

div.disclosure input[type=text].ng-valid,
div.disclosure input[type=text].ng-invalid {
    margin-top: -10px;
}

input.ng-valid, input.ng-invalid {
    border: 1px solid #4dbed5;
    border-radius: 0;
    display: inline-block;
}

input.ng-invalid {
    border: 1px solid #e65520;
}

input.ng-pristine {
    border: 1px solid #4dbed5;
}

.form-group {
    margin: 0;
    text-align: left;
}

.panel {
    display: block;
    margin: 0;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fbfbfb;
}

.panel-default {
    border: 0;
}

.panel-default > .panel-heading {
    background: #4dbfd6;
    border: none;
    padding: 0;
    border-radius: 0;
}

.panel-default > .panel-heading-orange {
    background: #e65520;
}

.panel-heading h2, .panel-heading-orange h2 {
    display: block;
    width: 100%;
    font-family: "NowceBook","OpenSansLight",Helvetica,Arial,sans-serif;
    font-size: 22px;
    line-height: 34px;
    color: #fff;
    padding: 3px 0;
    text-align: center;
    margin: 0;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #4dbed5;
}
.panel-body {
    padding: 20px;
    margin-bottom: 60px;
}

.row {
    display: block;
    margin: 0 auto;
}

.signInWidth {
    width: 220px;
}

.navGroup {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'NowceBold', "OpenSansBold", Helvetica, Arial, sans-serif;
    color: #4dbfd6;
    font-size: 16px;
    margin: 0;
}

.navGroup .navbar-nav {
    display: inline-block;
    width: auto;
    right: auto;
    position: relative;
    top: 0;
    margin-top: 0;
}

.signOutContainer {
    display: inline-block;
    width: auto;
    right: 20px;
    background: none;
    margin-right: 0;
    position: absolute;
    top: 50%;
    height: 30px;
    line-height: 30px;
    margin-top: -16px;
    text-align: center;
}

.navGroup {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'NowceBold', "OpenSansBold", Helvetica, Arial, sans-serif;
    color: #4dbfd6;
    font-size: 16px;
    margin: 0;
}

.navGroup form {
    display: inline-block;
}

.signOutBtn {
    display: inline-block;
    position: absolute;
    border: 1px solid #e65621;
    right: 45px;
    top: 50%;
    margin-top: -16px;
    width: 88px;
    font-family: 'NowceBold', "OpenSansBold", Helvetica, Arial, sans-serif;
    color: #e65621;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    z-index: 100;
}

.signOutBtn button,
.signOutBtn button:hover,
.signOutBtn button:focus {
    display: block;
    color: #e65621;
    text-decoration: none;
    line-height: 30px;
}

.signOutBtn .btn-info,
.signOutBtn .btn-info:hover,
.signOutBtn .btn-info:focus,
.signOutBtn .btn-success,
.signOutBtn .btn-success:hover,
.signOutBtn .btn-success:focus {
    font-family: 'NowceBold', "OpenSansBold", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background: none;
    width: 86px;
    padding: 0;
    margin: 0;
    border: 0;
}
.signOutID {
    display: none;
}
.signOutID a {
    font-family: 'NowceBold', "OpenSansBold", Helvetica, Arial, sans-serif;
    color: #e65621;
    margin-right: 10px;
}

h1 {
    font-family: 'NowceLight', "OpenSansLight", Helvetica, Arial, sans-serif;
    font-size:32px;
    line-height:44px;
    letter-spacing:3px;
}

h2 {
    font-family: "NowceBook", "OpenSansLight", Helvetica, Arial, sans-serif;
    color:#2c3e50;
    font-size:28px;
    line-height:34px;
    letter-spacing:3px;
    text-align:center;
    margin: 0
}

h3 {
    font-family: "NowceBook","OpenSansLight",Helvetica,Arial,sans-serif;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #4dbed5;
}

.btn {
    border-radius: 0;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background: none;
}
.date-picker {
    display: block;
    width: 300px;
    margin: 0 auto;
}
.myNotify {
    position: fixed;
    left: 50%;
    margin-top: 300px;
}
.btn, .btn:hover, .btn:focus {
    padding: 7px 12px;
}

form[name=signon_form] div input[type=text]{
    margin-top:10px;
}

form button[type=submit] {
    margin-top:10px;
}

form.editable-wrap.editable-textarea button[type=submit] {
    margin-top:0;
}

.btn-primary {
    background: #4dbfd6;
    border: 0;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background: #4dbfd6;
}
.fullWidthNav {
    display: block;
    width: 100%;
    background: #4dbfd6;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu {
    position: relative;
    padding: 5px 0;
    margin: 0;
    font-size: 16px;
    list-style: none;
    background-color: #f6f6f6;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-width: 100%;
}
.dropdown-menu > li > a {
    font-family: "NowceBook","OpenSansLight",Helvetica,Arial,sans-serif;
    color: #7d7d7f;
    cursor: pointer;
}
.fullWidthNav .btn-group,
.fullWidthNav .btn-group > .btn,
.fullWidthNav .btn-group-vertical > .btn {
    font-size: 16px;
    font-family: "NowceBook", "OpenSansLight", Helvetica, Arial, sans-serif;
}

.fullWidthNav .btn-group,
.fullWidthNav .btn-group > .btn,
.fullWidthNav .btn-group-vertical > .btn {
    width: 100%;
}

.accountSnapshot {
    padding-bottom: 10px;
}

.accountSnapshot p {
    padding: 20px;
    margin: 0;
    font-size: 16px;
    color: #7d7d7f;
    text-align: left;
}

.accountSnapshot p em, .accountSnapshot p span {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    padding-right: 3%;
}

.whiteBG {
    background: #ffffff;
}

.gapTop {
    padding-top: 72px;
}

.fullWidthNav .btn-group {
    border-bottom: 1px solid #f4f4f4;
}

.date-picker p {
    display: table;
    margin: 0 auto;
}
.date-picker p input {
    width: auto;
}
.date-picker p span {
    display: table-cell;
    width: auto;
}
.glyphicon:empty {
    width: 16px;
}
.date-picker .input-group .form-control {
    width: 245px;
}
h4 {
    font-family: "NowceBook","OpenSansLight",Helvetica,Arial,sans-serif;
    color: #7d7d7f;
}

.date-picker .input-group {

}
.date-picker .dropdown-menu {
    min-width: 160px;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    position: absolute;
    background-color: #ffffff;
}
.management table .btn, .management table .btn:hover, .management table .btn:focus {
    border: none;
    background: none;
    text-decoration: underline;
    padding-right: 20px;
    font-family: "NowceBook","OpenSansLight",Helvetica,Arial,sans-serif;
}

.management table .btn-danger,
.management table .btn-danger:hover,
.management table .btn-danger:focus {
    height: auto;
    color: #e65621;
}

.management table .btn-primary,
.management table .btn-primary:hover,
.management table .btn-primary:focus {
    height: auto;
    color: #4dbfd6;
}

.management table .btn-default,
.management table .btn-default:hover,
.management table .btn-default:focus {
    height: auto;
    color: #e65621;
}

.management select {
    font-size: 16px;
    background: #ffffff;
    padding-left: 0 !important;
}
.management select option {
    padding: 2px 5px;
}

.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.marginTop { margin-top: 10px;}

.btn-danger,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.active {
    display: inline-block;
    height: 40px;
    border-radius: 0;
    background: #d64b86;
    border: none;
    font-size: 16px;
    font-family: 'NowceBold', "OpenSansBold", Helvetica, Arial, sans-serif;
    line-height: 26px;
    color: #ffffff;
    opacity: 1 !important;
    vertical-align: top;
    cursor: pointer !important;
    border-top: 1px solid #d64b86;
    border-right: 1px solid #d64b86;
    border-bottom: 1px solid #d64b86;
    outline: none;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default.active,
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.open .dropdown-toggle.btn-default,
.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success.active,
.open .dropdown-toggle.btn-success,
.loginContainer .btn-primary,
.accountSnapshot p a,
.accountSnapshot p a:hover,
.accountSnapshot p a:focus {
    display: inline-block;
    height: 40px;
    border-radius: 0;
    background: #4dbfd6;
    border: none;
    font-size: 16px;
    font-family: 'NowceBold', "OpenSansBold", Helvetica, Arial, sans-serif;
    line-height: 26px;
    color: #ffffff;
    opacity: 1 !important;
    vertical-align: top;
    cursor: pointer !important;
    border-top: 1px solid #4dbed5;
    border-right: 1px solid #4dbed5;
    border-bottom: 1px solid #4dbed5;
    outline: none;
}

.accountSnapshot p a, .accountSnapshot p a:hover, .accountSnapshot p a:focus {
    display: block;
    margin: 0 auto;
    width: 280px;
    padding-left: 0;
    padding-right: 0;

}
.gapBelow {
    margin-bottom: 30px;
}

.search-widget button,
.search-widget button:hover,
.search-widget button:focus,
.search-widget button:active {
    display: block;
    margin: 10px auto 20px;
}
.modal-content .btn-warning,
.modal-content .btn-warning:hover,
.modal-content .btn-warning:focus,
.modal-content .btn-warning:active {
    display: inline-block;
    height: 40px;
    border-radius: 0;
    border:1px solid #e65621;
    background: #e65621;
    font-size: 16px;
    font-family: 'NowceBold', "OpenSansBold", Helvetica, Arial, sans-serif;
    color: #ffffff;
    opacity: 1 !important;
    vertical-align: top;
    cursor: pointer !important;
    outline: none;
}
.modal-footer {
    text-align: center;
}
.btn-default[disabled] {
    background: #c5c5c5;
    border: 1px solid #c5c5c5;
}

.checkbox-inline, .checkbox-inline + .checkbox-inline {
    display: block;
    margin-left: 20px;
}
.popover {
    max-width: 1000px;
    color: #7d7d7f;
}
.search-widget select {
    width: 280px;
    background: #fff url(../images/down-arrow-nowce.png) 92% center no-repeat;
}

.user-report {
    display: block;
    margin: 0 auto;
}
.user-report p { padding: 10px; }

.pagination {
    padding: 10px 0;
}

.pagination button,
.pagination button:hover,
.pagination button:focus,
.pagination button:active {
    display: inline-block;
    border: none;
    background: none;
    text-decoration: underline;
    font-family: "NowceBook","OpenSansLight",Helvetica,Arial,sans-serif;
    color: #4dbed5;
    margin: 0;
    padding: 0 10px;
    height: auto;
}
.tandcs {
    padding-top: 20px;
}
.tandcs label, .tandcs .col-sm-12, .tandcs .col-sm-6 {
    padding: 0;
}
.tandcs label {
    font-family: 'NowceBold', "OpenSansBold", Helvetica, Arial, sans-serif;
}
.tandcs a, .tandcs a:active, .tandcs a:focus {
    color: #4dbed5;
}
.tandcs a:hover {
     text-decoration: underline;
}

.accountSnapshot .col-md-7 p span {
    width: 40%;
}
.accountSnapshot .col-md-3 p a.btn, .accountSnapshot .col-md-4 p a.btn {
    width: 180px;
}
.accountSnapshot .col-md-4 p a.btn {
    padding: 10px 12px;
    text-decoration: none;
}
.panel-title span {
    display: block;
    width: 100%;
    font-family: "NowceBook","OpenSansLight",Helvetica,Arial,sans-serif;
    font-size: 22px;
    line-height: 34px;
    color: #fff;
    padding: 0 0 10px;
    text-align: center;
    margin: 0;
}

.panel-author {
    margin: 3em auto 60px;
}

.left {
    text-align: left;
    font-size: 16px;
    padding-left: 5px;
}
.noGapTop {
    padding: 0 0 20px;
    margin-top: 0;
}
.invoiceWidth { width: 100%; }

@media only screen and (max-width : 768px) {

    .enterprise,
    .paygo,
    .available{
        display:none
    }

}

@media only screen and (min-width : 768px) {

    .half {
        display: inline-block;
        width: 50%;
        text-align: left;
        vertical-align: top;
    }
    .half p span {
        padding-left: 20px;
    }
    .search-widget select { width: 450px; background: #fff url(../images/down-arrow-nowce.png) 95% center no-repeat; }
    .checkbox-inline, .checkbox-inline + .checkbox-inline {
        display: block;
        margin-left: 280px;
    }
    .fullWidthNav .btn-group {
        border-bottom: none;
        margin-bottom: 6px;
    }
    .fullWidthNav .btn-group, .fullWidthNav .btn-group > .btn, .fullWidthNav .btn-group-vertical > .btn {
        width: auto;
    }
    .dropdown-menu {
        min-width: 160px;
        border-bottom: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        position: absolute;
        background-color: #ffffff;
    }
    .navbar-toggle {
        display: none;
    }

    .navbar-nav {
        display: inline-block;
        width: auto;
        right: 145px;
        background: none;
        margin-right: 20px;
        position: absolute;
        top: 50%;
        height: 30px;
        line-height: 30px;
        margin-top: -15px;
        text-align: center;
    }

    .navbar-nav > li {
        display: inline-block;
        padding-left: 15px;
        margin: 0;
    }

    .navbar-nav > li > a {
        text-align: right;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        background: none;
    }

    .loginContainer {
        position: absolute;
        top: 172px;
        left: 50%;
        margin-left: -225px;
        width: 450px;
    }

    .form-control {
        width: 300px;
    }

    .myNotify {
        top: 402px;
    }

    .panel {
        margin: 3em auto 60px;
        width: 700px;
    }

    .form-control, select.col-md-6 {
        width: 315px;
    }

    .col-md-12 .error, .col-md-12 select, .col-md-12 .small {
        width: 315px;
    }

    .profmed .row {
        display: block;
        margin: 0 auto;
        width: 635px;
    }

    .navGroup {
        display: inline-block;
        width: auto;
        right: 320px;
        background: none;
        margin-right: 20px;
        position: absolute;
        top: 50%;
        height: 30px;
        line-height: 30px;
        margin-top: -15px;
        text-align: center;
    }

    .signOutID {
        display: block;
    }

    .signOutContainer {
        margin-top: -17px;
    }
    .navGroup .navbar-nav {
        margin-right: 40px;
    }
    .myNotify {
        margin-top: 140px;
    }
    .fullWidthNav .container {
        padding: 0 8px;
        text-align: left;
    }
    .marginTop {
        margin-top: 3em;
    }
    .date-picker {
        display: block;
        width: 400px;
        margin: 0 auto;
    }
    .date-picker .input-group .form-control {
        width: 322px;
    }
    .overflowTable {
        overflow: visible;
    }
    .date-picker .input-group .form-control {
        width: 284px;
    }
    .signOutBtn {
        position: relative;
        right: 0;
    }
    .reportWidth {
        width: 100%;
    }
    .noGapTop {
        padding: 0 0 20px;
        margin-top: 0;
    }
    .noGapbottom {
        margin-bottom: 0;
    }
    .NowCE {
        background-image: url("../images/nowce.png");
        width: 164px;
        height: 32px;
    }
    .invoiceWidth {
        width: 85%;
    }

    div.citationArticleAndBook input[type=text] {
        width: 30em;
    }

}



