<!-- edit-mode -->
<!-- <div class="edit-mode" ng-if="questionTwo.isEditing"> -->
    <div class="form-inline">
        <div class="row">
            <div class="col-sm-3">
                <p>Name of Organzine</p>
            </div>
            <div class="col-sm-9 col-p33">
                <input class="form-control input-p33" ng-model="questionTwo.selected.organizationName">
            </div>
        </div>
        <div class="ss-10"></div>
        <div class="row">
            <div class="col-sm-3">
                <p>Type of Relationship</p>
            </div>
            <div class="col-sm-9 col-p33">
                <input class="form-control input-p33" ng-model="questionTwo.selected.relationshipType">
            </div>
        </div>
    </div>

    <!-- calendar-datepicker	 -->
    <div class="row">
        <div class="col-sm-6">
            <div class="text-edit">
                <p  class="label-date">Start date</p>
            </div>
            <div class="radio-box">
                <div id="sandbox-container">
                    <div class="input-append date">
                        <input type="text" class="span2" datetime-picker="mediumDate" ng-model="questionTwo.selected.startDate" is-open="questionTwo.selected.startDateOpen" enable-time="false" datepicker-options="ctrl.dateOptions"   close-on-date-selection="false" datepicker-append-to-body="true" clear-text="Remove" />
                        <span class="add-on">
                            <i  ng-click="questionTwo.selected.startDateOpen=true" class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-6">
            <div class="text-edit">
                <p class="label-date">End date</p>
            </div>
            <div class="radio-box">
                <div id="sandbox-container">
                    <div class="input-append date">
                        <input type="text" class="span2" datetime-picker="mediumDate" ng-model="questionTwo.selected.endDate" is-open="questionTwo.selected.endDateOpen" enable-time="false" datepicker-options="ctrl.dateOptions"   close-on-date-selection="false" datepicker-append-to-body="true" clear-text="Remove" />
                        <span class="add-on">
                            <i  ng-click="questionTwo.selected.endDateOpen=true" class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="ss-10"></div>
    <div class="form-inline">
        <div class="row">
            <div class="col-sm-3">
                <p>Comment</p>
            </div>
            <div class="col-sm-9 col-p33">
                <input class="form-control input-p33" ng-model="questionTwo.selected.comment">
            </div>
        </div>
    </div>
    <!-- end calendar-datepicker	 -->
<!-- </div> -->
<!-- end edit-mode -->
