<p>Disclosure</p>
<div class="form-container" ng-if="questionFour.isEditing">
    <div class="row-control double-textbox-2">
        <div class="form-group form-icon-textbox-1">
            <div class="form-control">
                <input type="text"  ng-model="questionFour.selected.comment">
            </div>
        </div>
    </div>
</div>
