<!-- <div class="edit-mode" ng-show="questionOne.isEditing"> -->
    <div class="form-inline">
        <div class="row">
            <div class="col-sm-3">
                <p>Name of Organization</p>
            </div>
            <div class="col-sm-9 col-p33">
                <input class="form-control input-p33" ng-model="questionOne.selected.organizationName">
            </div>
        </div>
    </div>
    <p>A Yes/No answer must be given to all questions</p>
    <!-- checkbox-yesno -->
    <div class="row">
        <div class="col-sm-6">
            <div class="text-edit">
                <p>Grant</p>
            </div>
            <div class="radio-box">
                <div class="col-xs-6">
                    <pretty-radio value=true multiple ng-model="questionOne.selected.grant" label="'Yes'"></pretty-radio>
                </div>
                <div class="col-xs-6">
                    <pretty-radio value=false multiple ng-model="questionOne.selected.grant" label="'No'"></pretty-radio>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-6">
            <div class="text-edit">
                <p>Personal Fee</p>
            </div>
            <div class="radio-box">
                <div class="col-xs-6">
                    <pretty-radio value=true multiple ng-model="questionOne.selected.personalFee" label="'Yes'"></pretty-radio>
                </div>
                <div class="col-xs-6">
                    <pretty-radio value=false multiple ng-model="questionOne.selected.personalFee" label="'No'"></pretty-radio>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="text-edit">
                <p>Paid Employee</p>
            </div>
            <div class="radio-box">
                <div class="col-xs-6">
                    <pretty-radio value=true multiple ng-model="questionOne.selected.paidEmployee" label="'Yes'"></pretty-radio>
                </div>
                <div class="col-xs-6">
                    <pretty-radio value=false multiple ng-model="questionOne.selected.paidEmployee" label="'No'"></pretty-radio>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-6">
            <div class="text-edit">
                <p>Other</p>
            </div>
            <div class="radio-box">
                <div class="col-xs-6">
                    <pretty-radio value=true multiple ng-model="questionOne.selected.other" label="'Yes'"></pretty-radio>
                </div>
                <div class="col-xs-6">
                    <pretty-radio value=false multiple ng-model="questionOne.selected.other" label="'No'"></pretty-radio>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="form-inline">
        <div class="row">
            <div class="col-sm-3">
                <p>Comment</p>
            </div>
            <div class="col-sm-9 col-p33">
                <input class="form-control input-p33" ng-model="questionOne.selected.comment">
            </div>
        </div>
    </div>
    <!-- end checkbox-yesno -->

    <!-- calendar-datepicker	 -->
    <div class="row">
        <div class="col-sm-6">
            <div class="text-edit">
                <p class="label-date">Start date</p>
            </div>
            <div class="radio-box">
                <div id="sandbox-container">
                    <div class="input-append date">
                        <input type="text" class="span2" datetime-picker="mediumDate" data-ng-model="questionOne.selected.startDate" is-open="questionOne.selected.startDateOpen" enable-time="false" datepicker-options="ctrl.dateOptions"   close-on-date-selection="false" datepicker-append-to-body="true" clear-text="Remove" />
                        <span class="add-on">
                            <i  ng-click="questionOne.selected.startDateOpen=true" class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-6">
            <div class="text-edit">
                <p  class="label-date">End date</p>
            </div>
            <div class="radio-box">
                <div id="sandbox-container">
                    <div class="input-append date">
                        <input type="text" class="span2" datetime-picker="mediumDate" data-ng-model="questionOne.selected.endDate" is-open="questionOne.selected.endDateOpen" enable-time="false" datepicker-options="ctrl.dateOptions"   close-on-date-selection="false" datepicker-append-to-body="true" clear-text="Remove" />
                        <span class="add-on">
                            <i  ng-click="questionOne.selected.endDateOpen=true" class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="ss-10"></div>
    <!-- end calendar-datepicker-->
<!-- </div> -->
