<!-- edit-mode -->
<!-- <div class="edit-mode" ng-if="questionThree.isEditing"> -->
    <div class="form-inline">
        <div class="row">
            <div class="col-sm-6">
                <p>Enter Patents Number if issued or Application number if pending. Do not disclose details</p>
            </div>
            <div class="col-sm-6 col-p33-short">
                <input class="form-control input-p33" placeholder="Patent Number" ng-model="questionThree.selected.patentNumber">
            </div>
        </div>
    </div>
    <p>A Yes/No answer must be given to all questions</p>
    <!-- checkbox-yesno -->
    <div class="row">
        <div class="col-sm-6">
            <div class="text-edit">
                <p>Pendding</p>
            </div>
            <div class="radio-box">
                <div class="col-xs-6">
                    <pretty-radio value=true multiple ng-model="questionThree.selected.pending" label="'Yes'"></pretty-radio>
                </div>
                <div class="col-xs-6">
                    <pretty-radio value=false multiple ng-model="questionThree.selected.pending" label="'No'"></pretty-radio>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-6">
            <div class="text-edit">
                <p>Issued</p>
            </div>
            <div class="radio-box">
                <div class="col-xs-6">
                    <pretty-radio value=true multiple ng-model="questionThree.selected.issued" label="'Yes'"></pretty-radio>
                </div>
                <div class="col-xs-6">
                    <pretty-radio value=false multiple ng-model="questionThree.selected.issued" label="'No'"></pretty-radio>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="text-edit">
                <p>Licensed</p>
            </div>
            <div class="radio-box">
                <div class="col-xs-6">
                    <pretty-radio value=true multiple ng-model="questionThree.selected.licensed" label="'Yes'"></pretty-radio>
                </div>
                <div class="col-xs-6">
                    <pretty-radio value=false multiple ng-model="questionThree.selected.licensed" label="'No'"></pretty-radio>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-6">
            <div class="text-edit">
                <p>Licensee</p>
            </div>
            <div class="radio-box">
                <div class="col-xs-6">
                    <pretty-radio value=true multiple ng-model="questionThree.selected.licensee" label="'Yes'"></pretty-radio>
                </div>
                <div class="col-xs-6">
                    <pretty-radio value=false multiple ng-model="questionThree.selected.licensee" label="'No'"></pretty-radio>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="text-edit">
                <p>Royalties</p>
            </div>
            <div class="radio-box">
                <div class="col-xs-6">
                    <pretty-radio value=true multiple ng-model="questionThree.selected.royalties" label="'Yes'"></pretty-radio>
                </div>
                <div class="col-xs-6">
                    <pretty-radio value=false multiple ng-model="questionThree.selected.royalties" label="'No'"></pretty-radio>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- end checkbox-yesno -->

    <div class="form-inline">
        <div class="row">
            <div class="col-sm-3">
                <p>Comment</p>
            </div>
            <div class="col-sm-9 col-p33">
                <input class="form-control input-p33" ng-model="questionThree.selected.comment">
            </div>
        </div>
    </div>

<!-- </div> -->
<!-- end edit-mode -->
