<div class="col-sm-6">
    <div class="row-control">
        <div ng-class="['form-group',{'error': userForm.postNomLetter.$invalid && !userForm.postNomLetter.$pristine}]">
            <label for="">Post Nom-letters</label>

            <div class="form-control">
                <input type="text" name="postNomLetter" placeholder="e.g. BSc MBBS Phd MRCP" ng-model="contributor.postNomLetter" required/>
            </div>
            <div class="error-message">
                <p ng-show="userForm.postNomLetter.$invalid && !userForm.postNomLetter.$pristine" >Invalid Post Nom Letter</p>
            </div>
        </div>
    </div>
    <div class="row-control">
        <div ng-class="['form-group',{'error': userForm.password.$invalid && !userForm.password.$pristine}]">
            <label for="">Password *</label>

            <div class="form-control">
                <input type="password" placeholder="include at least 1 number & 1 capital letter" ng-model="contributor.password" name="password" required/>
            </div>
            <div class="error-message">
                <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" >Password is required</p>
            </div>
        </div>
    </div>
    <div class="row-control">
        <div ng-class="['form-group',{'error': userForm.securityWord.$invalid && !userForm.securityWord.$pristine}]">
            <label for="">Security Word *</label>

            <div class="form-control">
                <input type="text" placeholder="Secret 22" name="securityWord" ng-model="contributor.securityWord" required/>
            </div>
            <div class="error-message">
                <p ng-show="userForm.securityWord.$invalid && !userForm.securityWord.$pristine" >Security Word Required</p>
            </div>
        </div>
    </div>
    <div class="row-control">
        <div ng-class="['form-group',{'error': userForm.address1.$invalid && !userForm.address1.$pristine}]">
            <label for="">Address 1 *</label>

            <div class="form-control">
                <input type="text" name="address1" placeholder="123 Any Street" ng-model="contributor.address1" required/>
            </div>
            <div class="error-message">
                <p ng-show="userForm.address1.$invalid && !userForm.address1.$pristine" >Address is required</p>
            </div>
        </div>
    </div>
    <div class="row-control">
        <div ng-class="['form-group',{'error': userForm.state.$invalid && !userForm.state.$pristine}]">
            <label for="">State/ Province</label>

            <div class="select-div">
                <ui-select ng-model="country.selected" theme="selectize">
                    <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices ng-class="select2" repeat="country in countries | filter: $select.search">
                        <span ng-bind-html="country.name | highlight: $select.search"></span>
                        <small ng-bind-html="country.code | highlight: $select.search"></small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="row-control">
        <div ng-class="['form-group',{'error': userForm.phoneNo.$invalid && !userForm.phoneNo.$pristine}]">
            <label for="">Phone Number *</label>

            <div class="form-control">
                <input type="text" name="phoneNo" placeholder="This may be used as a security question." ng-model="contributor.phoneNo" required/>
            </div>
            <div class="error-message">
                <p ng-show="userForm.phoneNo.$invalid && !userForm.phoneNo.$pristine" >Invalid Phone No</p>
            </div>
        </div>
    </div>
    <div class="row-control">
        <div ng-class="['form-group',{'error': userForm.password_verify.$invalid && !userForm.password_verify.$pristine}]">
            <label for="">Confirm Password *</label>

            <div class="form-control">
                <input type="password" placeholder="Confirm password" ng-model="contributor.password_verify"  data-password-verify="contributor.password" name="password_verify" required/>
            </div>
            <div class="error-message">
                <p ng-show="userForm.password_verify.$invalid && !userForm.password_verify.$pristine" >Passwords  do not match.</p>
            </div>
        </div>
    </div>
    <div class="row-control">
        <div ng-class="['form-group',{'error': userForm.reminderHint.$invalid && !userForm.reminderHint.$pristine}]">
            <label for="">Reminder Hint *</label>

            <div class="form-control">
                <input type="text" name="reminderHint" placeholder="To remember your secure word " ng-model="contributor.reminderHint" required/>
            </div>
            <div class="error-message">
                <p ng-show="userForm.reminderHint.$invalid && !userForm.reminderHint.$pristine" >Reminder Hint is required</p>
            </div>
        </div>
    </div>
    <div class="row-control">
        <div ng-class="['form-group',{'error': userForm.address2.$invalid && !userForm.address2.$pristine}]">
            <label for="">Address 2</label>

            <div class="form-control">
                <input type="text" name="address2" placeholder="123 Any Street" ng-model="contributor.address2"/>
            </div>
            <div class="error-message">
                <p ng-show="userForm.address2.$invalid && !userForm.address2.$pristine" >Address2 is required</p>
            </div>
        </div>
    </div>
    <div class="row-control">
        <div ng-class="['form-group',{'error': userForm.zipCode.$invalid && !userForm.zipCode.$pristine}]">
            <label for="">Zip/ Post Code</label>

            <div class="form-control">
                <input type="text" name="zipCode" placeholder="00123" ng-model="contributor.zipCode" required/>
            </div>
            <div class="error-message">
                <p ng-show="userForm.zipCode.$invalid && !userForm.zipCode.$pristine" >Zipcode is required</p>
            </div>
        </div>
    </div>
</div>
