<div class="col-sm-6">
    <div class="row-control">
        <div ng-class="['form-group',{'error': userForm.title.$invalid && !userForm.title.$pristine}]">
            <label for="">Title *</label>
            <!--<div class="form-control">
                <input type="text" name="title" placeholder="Enter title here" ng-model="contributor.title" required/>
            </div>-->

            <div class="select-div">
                <ui-select ng-model="title.selected" theme="selectize" name="title">
                    <ui-select-match placeholder="Select or search a title in the list...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices ng-class="select2" repeat="title in titles | filter: $select.search">
                        <span ng-bind-html="title.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="error-message">
                <p ng-show="userForm.title.$invalid && !userForm.title.$pristine" >Title is required.</p>
            </div>
        </div>

    </div>
    <div class="row-control">
        <div ng-class="['form-group',{'error': userForm.firstName.$invalid && !userForm.firstName.$pristine}]">
            <label for="">First Name *</label>

            <div class="form-control">
                <input type="text" name="firstName" placeholder="Enter title here" ng-model="contributor.firstName" required/>
            </div>
            <div class="error-message">
                <p ng-show="userForm.firstName.$invalid && !userForm.firstName.$pristine" >First name is required</p>
            </div>
        </div>
    </div>
    <div class="row-control">
        <div ng-class="['form-group',{'error': userForm.email.$invalid && !userForm.email.$pristine}]">
            <label for="">Email Address *</label>

            <div class="form-control">
                <input type="email" name="email" placeholder="Enter first name here" id="tags" ng-model="contributor.email" />
            </div>
            <div class="error-message">
                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" >Invalid Email</p>
            </div>
        </div>
    </div>

</div>

<div class="col-sm-6">
    <div class="row-control">
        <div ng-class="['form-group',{'error': userForm.otherTitle.$invalid && !userForm.otherTitle.$pristine}]">
            <label for="">Other Title</label>

            <!--<div class="form-control">
                <input type="text" name="otherTitle" placeholder="Enter otherTitle here" ng-model="contributor.otherTitle" required/>
            </div>-->
            <div class="select-div">
                <!--<ui-select ng-model="otherTitle.selected" theme="selectize">
                    <ui-select-match placeholder="Select or search a otherTitle in the list...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices ng-class="select2" repeat="otherTitle in otherTitles | filter: $select.search">
                        <span ng-bind-html="otherTitle.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>-->

                <ui-select multiple tagging tagging-label="" ng-model="otherTitle.selected" theme="bootstrap" sortable="true" ng-disabled="disabled"  title="Choose other title">
                    <ui-select-match placeholder="Select other title...">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="otherTitle in otherTitles | filter:$select.search">
                        {{otherTitle}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="row-control">
        <div ng-class="['form-group',{'error': userForm.familyName.$invalid && !userForm.familyName.$pristine}]">
            <label for="">Family Name *</label>

            <div class="form-control">
                <input type="text" name="familyName" placeholder="Enter family name here" ng-model="contributor.familyName" required/>
            </div>
            <div class="error-message">
                <p ng-show="userForm.familyName.$invalid && !userForm.familyName.$pristine" >Family name is required</p>
            </div>
        </div>
    </div>
</div>
