<div class="row">
  <div class="col-sm-6">
    <div class="row-control">
      <div ng-class="['form-group',{'error': userForm.companyNumber.$invalid && !userForm.companyNumber.$pristine}]">
        <label>Company Number *</label>
        <div class="form-control">
          <input type="text" ng-model="providerInfo.administrationMatters.companyNumber" name="companyNumber" required/>
        </div>
        <div class="error-message">
          <p ng-show="userForm.companyNumber.$invalid && !userForm.companyNumber.$pristine" >Company number is required.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row-control">
      <div ng-class="['form-group',{'error': userForm.charityNumber.$invalid && !userForm.charityNumber.$pristine}]">
        <label>Charity Number *</label>
        <div class="form-control">
          <input type="text" ng-model="providerInfo.administrationMatters.charityNumber" name="charityNumber" required/>
        </div>
        <div class="error-message">
          <p ng-show="userForm.charityNumber.$invalid && !userForm.charityNumber.$pristine" >Charity number is required.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div  class="row">
  <div class="col-sm-6">
    <div class="row-control">
      <div ng-class="['form-group',{'error': userForm.fieldIdNumber.$invalid && !userForm.fieldIdNumber.$pristine}]">
        <label>Fed ID Number *</label>
        <div class="form-control">
          <input type="text" ng-model="providerInfo.administrationMatters.fieldIdNumber" name="fieldIdNumber"  required/>
        </div>
        <div class="error-message">
          <p ng-show="userForm.fieldIdNumber.$invalid && !userForm.fieldIdNumber.$pristine" >Fed ID number is required.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6  yes-no">
    <div class="row-control">
      <label>Is the nature of your service subject to sales tax?*</label>
      <switch id="enabled" name="serviceSubjectToTax" ng-model="providerInfo.administrationMatters.serviceSubjectToTax" class="green"></switch>
      <div class="error-message">
        <p ng-show="userForm.serviceSubjectToTax.$invalid && !userForm.serviceSubjectToTax.$pristine" >Service subject tax is required.</p>
      </div>
    </div>
  </div>
</div>
