<div class="row">
  <div class="col-sm-6">
    <div class="row-control">
      <div ng-class="['form-group',{'error': userForm.locationAddress1.$invalid && !userForm.locationAddress1.$pristine}]">
        <label>Street Address 1 *</label>
        <div class="form-control">
          <input type="text" ng-model="providerInfo.locationAddress.address1" name="locationAddress1" required />
        </div>
        <div class="error-message">
          <p ng-show="userForm.locationAddress1.$invalid && !userForm.locationAddress1.$pristine" >Address is required.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row-control">
      <div class="form-group">
        <label>Street Address 2</label>
        <div class="form-control">
          <input type="text" ng-model="providerInfo.locationAddress.address2" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="row-control">
      <div class="form-group">
        <label>Town/City</label>
        <div class="form-control">
          <input type="text" ng-model="providerInfo.locationAddress.town"/>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row-control">
      <div ng-class="['form-group',{'error': userForm.locationState.$invalid && !userForm.locationState.$pristine}]">
        <label>State/Region *</label>
        <div class="form-control">
          <input type="text" ng-model="providerInfo.locationAddress.state" name="locationState" required/>
        </div>
        <div class="error-message">
          <p ng-show="userForm.locationState.$invalid && !userForm.locationState.$pristine" >State/Region is required.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="row-control">
      <div ng-class="['form-group',{'error': userForm.locationZipCode.$invalid && !userForm.locationZipCode.$pristine}]">
        <label>Zip/Post Code *</label>
        <div class="form-control">
          <input type="text" ng-model="providerInfo.locationAddress.zipCode" name="locationZipCode" required/>
        </div>
        <div class="error-message">
          <p ng-show="userForm.locationZipCode.$invalid && !userForm.locationZipCode.$pristine" >Zip/Post code is required.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row-control">
      <div class="form-group">
        <label>Country</label>
        <div class="select-div">
          <ui-select ng-model="providerInfo.locationAddress.country" theme="selectize">
            <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices ng-class="select2" repeat="country in countries | filter: $select.search">
              <span ng-bind-html="country.name | highlight: $select.search"></span>
              <small ng-bind-html="country.code | highlight: $select.search"></small>
            </ui-select-choices>
          </ui-select>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-control">
  <div ng-class="['form-group','input2',{'error': userForm.customSupportEmail.$invalid && !userForm.customSupportEmail.$pristine}]">
    <label class="long-text-one">Email Address for Customer Support *</label>
    <div class="form-control">
      <input type="email" ng-model="providerInfo.locationAddress.customSupportEmail" name="customSupportEmail" required />
    </div>
    <div class="error-message">
      <p ng-show="userForm.customSupportEmail.$invalid && !userForm.customSupportEmail.$pristine" >Invalid customer support email address.</p>
    </div>
  </div>
</div>
<div class="row-control">
  <div class="form-group input2">
    <label class="long-text-one">Phone number for Customer Support</label>
    <div class="form-control">
      <input type="text" ng-model="providerInfo.locationAddress.customSupportPhoneNo"/>
    </div>
  </div>
</div>
<div class="row-control">
  <div class="form-group input2">
    <label class="long-text-one">Day of Week for Customer Support</label>
    <div class="form-control">
      <input type="text" ng-model="providerInfo.locationAddress.customSupportDayofWeek" />
    </div>
  </div>
</div>
<div class="row-control">
  <div class="form-group input2">
    <label class="long-text-one">Hours of operation for Customer Support From</label>
    <div class="form-control ">
      <input type="text" ng-model="providerInfo.locationAddress.customSupportHoursOfOperation"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="row-control">
      <div class="form-group">
        <label class="number">From</label>
        <div class="form-control">
          <input type="text" ng-model="providerInfo.locationAddress.from" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row-control">
      <div class="form-group">
        <label class="number">To</label>
        <div class="form-control">
          <input type="text" ng-model="providerInfo.locationAddress.to" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row-control">
      <div class="form-group">
        <label class="number">Time zone</label>
        <div class="form-control">
          <input type="text" ng-model="providerInfo.locationAddress.timezone"/>
        </div>
      </div>
    </div>
  </div>
</div>
