<div class="row-control">
  <label>Select your NowCE Plan - (you can add or change anoder plan later) </label>
</div>
<div class="row-control">
  <div class="col-sm-6 pay-go-left">
    <h3>Go live immediately!</h3>
    <div class="row-control">
      <div class="col-sm-6">
        <div ng-class="['frame-now' ,{'select':providerInfo.nowCEPlan=='PayGo50'}]">
          <h3><strong>PayGo50</strong></h3>
          <p>$75/month <br/> + 50% Revenule share</p>
          <a ng-click="providerInfo.nowCEPlan='PayGo50'"class="btn btn-warning" title="Select">Select PayGo50</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div ng-class="['frame-now' ,{'select':providerInfo.nowCEPlan=='PayGo70'}]">
          <h3><strong>PayGo70</strong></h3>
          <p>$100/month <br/>+ 70% Revenule share</p>
          <a ng-click="providerInfo.nowCEPlan='PayGo70'" class="btn btn-warning" title="Select">Select PayGo70</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 pay-go-right" ng-class="['frame-now' ,{'select':providerInfo.nowCEPlan=='Enterprise'}]">
    <h6>Multiple courses and exams? Go enterprise!</h6>
    <div class="row-control">
      <!--<h6><strong>Go Enterprise!</strong></h6>-->
      <div class="col-sm-12" >
        <div >
          <h3><strong>Go Enterprise!</strong></h3>
          <p>Higher volumes?... an enterprise plan may suite you best</p>
          <p>Make a selection and an expert support member will reach out to understand your needs</p>
        </div>
      </div>
    </div>
    <a ng-click="providerInfo.nowCEPlan='Enterprise'" class="btn btn-warning" title="Select">Select Enterprise</a>
  </div>
</div>
