<div class="row">
  <div class="col-sm-6">
    <div class="row-control">
      <div ng-class="['form-group',{'error': userForm.mangerTitle.$invalid && !userForm.mangerTitle.$pristine}]">
        <label for="">Title *</label>
        <div class="form-control">
          <input type="text"  ng-model="providerInfo.programManager.title" name="mangerTitle" required />
        </div>
        <div class="error-message">
          <p ng-show="userForm.mangerTitle.$invalid && !userForm.mangerTitle.$pristine" >Title is required.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row-control">
      <div ng-class="['form-group',{'error': userForm.managerFirstName.$invalid && !userForm.managerFirstName.$pristine}]">
        <label for="">First Name *</label>
        <div class="form-control">
          <input type="text" ng-model="providerInfo.programManager.firstName" name="managerFirstName" required/>
        </div>
        <div class="error-message">
          <p ng-show="userForm.managerFirstName.$invalid && !userForm.managerFirstName.$pristine" >First name is required.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="row-control">
      <div class="form-group">
        <label>Middle Name</label>
        <div class="form-control">
          <input type="text" ng-model="providerInfo.programManager.middleName"/>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row-control">
      <div ng-class="['form-group',{'error': userForm.managerLastName.$invalid && !userForm.managerLastName.$pristine}]">
        <label>Last Name *</label>
        <div class="form-control">
          <input type="text" ng-model="providerInfo.programManager.lastName" name="managerLastName" required/>
        </div>
        <div class="error-message">
          <p ng-show="userForm.managerLastName.$invalid && !userForm.managerLastName.$pristine" >Last name is required.</p>
        </div>
      </div>
    </div>
  </div>
</div>
