<div class="row-control">
  <div ng-class="['form-group',{'error': userForm.organizationName.$invalid && !userForm.organizationName.$pristine}]">
    <label for="">Organization Name</label>
    <div class="form-control">
      <input type="text" ng-model="providerInfo.organizationName" name="organizationName" required />
    </div>
    <div class="error-message">
      <p ng-show="userForm.organizationName.$invalid && !userForm.organizationName.$pristine" >Organization name is required.</p>
    </div>
  </div>
</div>
<div class="row-control">
  <div ng-class="['form-group',{'error': userForm.activity.$invalid && !userForm.activity.$pristine}]">
    <label for="">Activity or Specializtion *</label>
    <div class="form-control">
      <input type="text"  ng-model="providerInfo.activity" name="activity"  required/>
    </div>
    <div class="error-message">
      <p ng-show="userForm.activity.$invalid && !userForm.activity.$pristine" >Activity or Specialization is required.</p>
    </div>
  </div>
</div>
<label for="">Name of principal contact</label>
<div class="row">
  <div class="col-sm-6">
    <div class="row-control">
      <div ng-class="['form-group',{'error': userForm.title.$invalid && !userForm.title.$pristine}]">
        <label for="">Title *</label>
        <div class="form-control">
          <input type="text" ng-model="providerInfo.title" name="title"  required/>
        </div>
        <div class="error-message">
          <p ng-show="userForm.title.$invalid && !userForm.title.$pristine" >Title is required.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row-control">
      <div ng-class="['form-group',{'error': userForm.firstName.$invalid && !userForm.firstName.$pristine}]">
        <label for="">First Name *</label>
        <div class="form-control">
          <input type="text"  ng-model="providerInfo.firstName" name="firstName" required/>
        </div>
        <div class="error-message">
          <p ng-show="userForm.firstName.$invalid && !userForm.firstName.$pristine" >First name is required.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="row-control">
      <div class="form-group ">
        <label for="">Middle Name</label>
        <div class="form-control">
          <input type="text"  ng-model="providerInfo.middleName" name="middleName" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row-control">
      <div ng-class="['form-group',{'error': userForm.lastName.$invalid && !userForm.lastName.$pristine}]">
        <label for="">Last Name *</label>
        <div class="form-control">
          <input type="text"  ng-model="providerInfo.lastName" name="lastName"  required/>
        </div>
        <div class="error-message">
          <p ng-show="userForm.lastName.$invalid && !userForm.lastName.$pristine" >Last name is required.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="row-control">
      <div ng-class="['form-group',{'error': userForm.email.$invalid && !userForm.email.$pristine}]">
        <label for="">Email address *</label>
        <div class="form-control">
          <input type="email"  ng-model="providerInfo.email"  name="email" required/>
        </div>
        <div class="error-message">
          <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" >Invalid email address.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row-control">
      <div ng-class="['form-group',{'error': userForm.phoneNo.$invalid && !userForm.phoneNo.$pristine}]">
        <label for="">Phone number *</label>
        <div class="form-control">
          <input type="text"  ng-model="providerInfo.phoneNo" name="phoneNo" required />
        </div>
        <div class="error-message">
          <p ng-show="userForm.phoneNo.$invalid && !userForm.phoneNo.$pristine" >Phone No is required.</p>
        </div>
      </div>
    </div>
  </div>
</div>
