<div class="row-control">
  <div ng-class="['form-group',{'error': userForm.accountName.$invalid && !userForm.accountName.$pristine}]">
    <label>Account Name *</label>
    <div class="form-control">
      <input type="text" ng-model="providerInfo.remitanceInformation.accountName" name="accountName" required />
    </div>
    <div class="error-message">
      <p ng-show="userForm.accountName.$invalid && !userForm.accountName.$pristine" >Account name is required.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="row-control">
      <div ng-class="['form-group',{'error': userForm.accountNumber.$invalid && !userForm.accountNumber.$pristine}]">
        <label>Accout Number *</label>
        <div class="form-control">
          <input type="text" ng-model="providerInfo.remitanceInformation.accountNumber" name="accountNumber" required />
        </div>
        <div class="error-message">
          <p ng-show="userForm.accountNumber.$invalid && !userForm.accountNumber.$pristine" >Account number is required.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row-control">
      <div ng-class="['form-group',{'error': userForm.bankName.$invalid && !userForm.bankName.$pristine}]">
        <label>Bank Name *</label>
        <div class="form-control">
          <input type="text" ng-model="providerInfo.remitanceInformation.bankName" name="bankName" required />
        </div>
        <div class="error-message">
          <p ng-show="userForm.bankName.$invalid && !userForm.bankName.$pristine" >Bank name is required.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="row-control">
      <div ng-class="['form-group',{'error': userForm.routingNumber.$invalid && !userForm.routingNumber.$pristine}]">
        <label>Routing Number *</label>
        <div class="form-control">
          <input type="text"  ng-model="providerInfo.remitanceInformation.routingNumber" name="routingNumber" required/>
        </div>
        <div class="error-message">
          <p ng-show="userForm.routingNumber.$invalid && !userForm.routingNumber.$pristine" >Routing number is required.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row-control">
      <div class="form-group">
        <label>Swift Code</label>
        <div class="form-control">
          <input type="text" ng-model="providerInfo.remitanceInformation.swiftCode"/>
        </div>
      </div>
    </div>
  </div>
</div>
