<!--
<div class="{{modalClass}}">
    <div class="modal fade" id="{{modalId}}" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="overlay-form" enctype="multipart/form-data" role="form">
                    <div class="modal-body clearfix">
                        <div class="divider col-12 clearfix">
                            <div class="form-group col-md-12">
                                <h4 class="text-uppercase text-center">{{modalTitle}}</h4>
                            </div>
                        </div>
                        <ng-transclude></ng-transclude>
                        &lt;!&ndash;Buttons&ndash;&gt;
                        <div class="divider col-12 ">
                            <div class="form-group col-md-12">
                                <div class="text-uppercase text-center">
                                  <as-button icon="close" click="closeModal()">{{buttonText || 'OK'}}</as-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
-->


<div class="{{modalClass}}">
    <div class="modal fade" id="{{modalId}}" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--<div class="nowce">
                    <a href="#" title="Nowce">
                        <img src="assets/vendor/profmed/images/nowce-wo.png" alt="Nowce">
                    </a>
                </div>-->
                <a href="#" title="Close" class="close-btn"  data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </a>
                <ng-transclude></ng-transclude>
                <!-- buttons -->
                <div class="row" style="padding-top:20px;">
                    <div class="col-sm-6">
                        <a href="#" title="Home" class="btn btn-primary"><i class="fa fa-home"></i> Home</a>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a href="#" title="Invite new Contributors" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Invite new Contributors</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
