        <div class="container">
            <h1>Invite authors, reviewers and other contributors</h1>
            <h3>
              Will you be an author or editor of any courses that you publish?
            </h3>
            <p>
                The 'Add Declaration' button will take you to your disclosure and credentails form. If you are intend to contribute to
                any course or test of some kind that is required to comply with certain mandates of an administrative or accrediting
                body then you may be obliged to make certain disclosures and or publish your credentials - even to state 'none'. If
                such conditions govern any course or test you will publish then you are advised to check the rules set by the
                mandating authority to ensure compliance and validity generally before you do publish. After you make your disclosures including "none",
                you may return to this page anytime to invite other contributors.
            </p>
            <div class="text-right">
                <a href="javascript:void(0)"  class="btn btn-warning" title="Next"><i class="fa fa-send"></i> Add My Declaration</a>
            </div>
            <h3 class="no-padding-bottom">
                Invite contributors - authors, editors, reviewers, helpers etc
            </h3>
            <form name="userForm" ng-submit="onSubmitForm(userForm.$valid)" novalidate>
            <div class="form-container">

                <div class="row">
                    <div class="col-sm-6">

                        <div class="row-control">
                            <div ng-class="['form-group',{'error': userForm.firstName.$invalid && !userForm.firstName.$pristine}]">
                                <label for="">First Name *</label>

                                <div class="form-control ">
                                    <input type="text" ng-model="contributorInfo.firstName" name="firstName" placeholder="First Name" required />
                                </div>
                                <div class="error-message">
                                    <p ng-show="userForm.firstName.$invalid && !userForm.firstName.$pristine" >First name is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row-control">
                            <div ng-class="['form-group',{'error': userForm.emailAddress.$invalid && !userForm.emailAddress.$pristine}]">
                                <label for="">Email Address*</label>

                                <div class="form-control">
                                    <input ng-model="contributorInfo.emailAddress" name="emailAddress" placeholder="email@address.com" id="tags" type="email" required/>

                                </div>
                                <div class="error-message">
                                    <p ng-show="userForm.emailAddress.$invalid && !userForm.emailAddress.$pristine" >Enter a valid email.</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6">

                        <div class="row-control">
                            <div ng-class="['form-group',{'error': userForm.familyName.$invalid && !userForm.familyName.$pristine}]">
                                <label for="">Family Name *</label>

                                <div class="form-control">
                                    <input type="text" ng-model="contributorInfo.familyName"  name="familyName" placeholder="Family Name" required />
                                </div>
                                <div class="error-message">
                                    <p ng-show="userForm.familyName.$invalid && !userForm.familyName.$pristine" >Family name is required.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <h3 class="no-padding-bottom">Select one access level for this contributor</h3>

            <p>
                All contributors other than "Helpers' and Media Admins' will be ask to declare their disclosures and
                credentials.
            </p>

            <div class="table-box table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th width="15%" class="text-center">Select one</th>
                        <th width="20%">Access Level</th>
                        <th>Access Rights</th>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <!--<input type="radio" data-label="" value="Provider" ng-model="contributorInfo.accessLevel" name="selectone">-->
                                <pretty-radio value="'Provider'" ng-model="contributorInfo.accessLevel" label="''"></pretty-radio>
                        </td>
                        <td>Provider</td>
                        <td>
                            Universal access - same status as the senior adminstrator
                            Must register declaration to author material
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <pretty-radio value="'Media'" ng-model="contributorInfo.accessLevel" label="''"></pretty-radio>
                        </td>
                        <td>Media admin</td>
                        <td>
                            Access media library to add and edit media items
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><pretty-radio value="'Reviewer'" ng-model="contributorInfo.accessLevel" label="''"></pretty-radio></td>
                        <td>Reviewer</td>
                        <td>
                            Comment on content and suggest changes
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><pretty-radio value="'Author'" ng-model="contributorInfo.accessLevel" label="''"></pretty-radio></td>
                        <td>Author</td>
                        <td>
                            As ‘REVIEWER’ + Add and edit own content and media items
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><pretty-radio value="Editor" ng-model="contributorInfo.accessLevel" label="''"></pretty-radio></td>
                        <td>Editor</td>
                        <td>
                            As ‘AUTHOR’ + Make changes to authored content
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><pretty-radio value="'Publisher'" ng-model="contributorInfo.accessLevel" label="''"></pretty-radio></td>
                        <td>Publisher</td>
                        <td>
                            As ‘EDITOR’ + Publish courses and tests etc
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><pretty-radio value="'Helper'" ng-model="contributorInfo.accessLevel" label="''"></pretty-radio></td>
                        <td>Helper</td>
                        <td>
                            Appoint a 'HELPER' to support your effort and share same access
                            right as you. You retain full responsibility for all 'helper' actions
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-warning" ng-disabled="userForm.$invalid || !contributorInfo.accessLevel"><i class="fa fa-send"></i> Send Invitation</button>
            </div>
            </form>
        </div>

    </div>
        <!-- Modal -->
        <info-modal modal-id="invitation-success" modal-title="Success" class="">
            <h2>Success! Your invitation has been send</h2>
            <p>
                Invite more contributors? Click bellow. You may invite as many contributors as you wish. Go to manage Contributors to check accept status.
            </p>
        </info-modal>

        <info-modal modal-id="invitation-fail" modal-title="Success" class="">
            <h2>Oops! Something went wrong</h2>
            <p>
                Please check your email address you entered and try again.
            </p>
        </info-modal>
        <ajax-loader></ajax-loader>
