    <div class="container">
        <h1>Invitation to Register and Contribute</h1>
        <p>
            (Name of Primary contact at Provider) has invited you to contribute to courses provided by (Name of
            Provider).<br/>
            After you complete your registration you will enjoy access rights to (As entered by the provider when
            designating access rights to invitees).
        </p>
        <h3>
            Step 1 of 2
        </h3>
        <form name="userForm" ng-submit="onSubmitForm(userForm.$valid)" novalidate>
        <div class="form-container">
            <!-- step 1 -->
            <p>
                <strong>
                    Please verify the following details are correct. Simply overtype and save any correction.
                </strong>
            </p>
            <div class="row" ng-include="'views/templates/contributor/signup/step1.html'"></div>

            <!-- step 2 -->
            <p>
                <strong>Please complete the following registration details.</strong>
            </p>
            <div class="row" ng-include="'views/templates/contributor/signup/step2.html'"></div>

        </div>
        <div class="sub-descripetion">
            <p>
                <strong>
                    NowCE Position on ‘Disclosure’
                </strong>
            </p>

            <p>
                If you are preparing material for users seeking certification from a board accreditted education
                provider it is generally required that all contributors make a declaration about any financial or
                other interests they might have which are associated with the speciality that is the focus of the
                course content. <a href="#"
                                   title="LH is that what you want to say, it is up to the provider to say that">LH
                is that what you want to say, it is up to the provider to say that</a> WE MAY WRITE MORE ABOUT THIS.
            </p>

            <p>
                NowCE supports the level of compliance [consistent with the AACME requirment]. If you have no
                interest to disclose plese use the next form to say this. -No course will be published unless the
                author and other contributors disclose their related intersts or confirm they have none. Failure to
                do this might invalidate the authentication for the student and infringe upon accreditation
                regulations. And there is a benfit for you too.][insert consistent disclosure statement]
            </p>

            <p>
                [LH - this section does not flow. These are instructions, and they should be as a window that opens.
                ] After you have completed this step we will provide you with a URL for you to pass to other
                assignees so they can upload your disclosure details from a single location.
            </p>

            <p>
                [LH- seems out of place ] As an option - add your credntials and citations to enjoy the appropriate
                recognition and the convenience of a single referral source that is always under your control.
            </p>
        </div>

        <div class="row">
            <div class="col-xs-6">
            <!--    <a href="#" class="btn btn-default" title="Cancel"><i class="fa fa-times"></i> Cancel</a>-->
            </div>
            <div class="col-xs-6 text-right pull-right">
                <button class="btn btn-warning" type="submit" ng-disabled="userForm.$invalid"
                   title="Register"><i class="fa fa-floppy-o"></i> Register</button>
                <!--<a href="#" class="btn btn-warning" title="Next"><i class="fa fa-play"></i> Next</a>-->
            </div>
        </div>
    </form>
</div>
