<form name="userForm" ng-submit="onSubmitForm(userForm.$valid)" novalidate>
<div class="container">
    <div class="style-p33">
        <h1>Contributor Disclosure</h1>
        <p>
            Please refer to ICMJE http://www.icmje.org/downloads/coi_disclosure.pdf for guidance or explanation
        </p>
        <h3>
            Author: Jane Write
        </h3>
        <p class="text-bold">Please answer the following 4 questions</p>

        <hr>
        <!-- question-1 -->
        <div class="row">
            <div class="col-sm-9">
                <p>
                    Q1 : Did you or any institution at any time receive payment or services from a third party (government, commercial, private foundation, etc) for any aspect of work you have or are likely to submit for publication in all or any part of a course for publication by the course owner of the course in which your contemplate contribution?
                </p>
            </div>
            <!--<div class="col-sm-3 text-right">
                <a  class="btn btn-warning" title="Yes">Yes</a>
                <a  class="btn btn-info" title="No">No</a>
            </div>-->
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <div class="btn-group" role="group" aria-label="...">
                    <!--<button type="button" class="btn btn-success" title="Yes">Yes</button>
                    <button type="button" class="btn btn-danger" title="No">No</button>-->

                    <button type="button" class="btn btn-warning is{{hasQuestionOne}}"  title="Yes" ng-click="hasQuestionOne=true">Yes</button>
                    <button type="button" class="btn btn-warning not{{hasQuestionOne}}"  title="No" ng-click="hasQuestionOne=false">No</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- table -->
        <div class="table-box table-responsive" ng-show="hasQuestionOne">
            <table class="table table-striped">
                <tr>
                    <th>Name of Organization</th>
                    <th>Type</th>
                    <th>Started</th>
                    <th>Ended</th>
                    <th>Comment</th>
                    <th>Date updated</th>
                    <th class="edit-remove" width="100"></th>
                </tr>
                <tr ng-repeat="question in disclosure.questionOne.questions">
                    <td>{{question.organizationName}}</td>
                    <!-- <td>{{question.type}}</td> -->
                    <td>Fee</td>
                    <td>{{question.startDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{question.endDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{question.comment }}</td>
                    <td>{{question.updateDate | date:'MM/dd/yyyy'}}</td>
                    <td>
                        <a title="edit"><i  ng-click="editQuestion(question, $index,1)"  class="fa fa-pencil"></i></a>
                        <a ng-click="deleteQuestion(question, $index, disclosure.questionOne.questions)" title="delete"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            </table>
        </div>
        <!-- table ends -->

        <!-- edit-mode -->
        <div class="edit-mode" ng-include="'views/templates/contributor/disclosure/questionOne.html'" ng-show="questionOne.isEditing"></div>
        <!-- end edit-mode -->

        <div class="edit-mode">
          <!-- button -->
          <div class="three-button">
              <div class="row">
                  <div class="col-sm-6">
                      <div class="text-left">
                          <a  class="btn btn-warning" title="Add" ng-click="addQuestion(1)" ng-disabled="questionOne.index !== -1" ng-show="(hasQuestionOne && !questionOne.isEditing && questionOne.index==-1)"><i class="fa fa-plus"></i> Add another</a>
                      </div>
                  </div>
                  <div class="col-sm-12">
                      <div class="text-right" ng-show="questionOne.isEditing">
                          <a  class="btn btn-warning" title="Save" ng-click="saveQuestion(1)"><i class="fa fa-floppy-o"></i> Save</a>
                          <a  class="btn btn-warning" title="Cancel" ng-click="cancelQuestion(1)"><i class="fa fa-times"></i> Cancel</a>
                      </div>
                  </div>
              </div>
          </div>
          <!-- end button -->
        </div>
        <!-- end question-1	 -->

        <hr>
        <div class="ss-10"></div>
        <!-- question-2 -->
        <div class="row">
            <div class="col-sm-9">
                <p>
                    Q2 : Do you have any finalcial relationship from a bio/ media source outside of the submited work that might be considired influential or biased towards or by the work you are submitting for publication? (Regardless of the amount of compensation)
                </p>
            </div>
            <!--<div class="col-sm-3 text-right">
                <a  class="btn btn-warning" title="Yes">Yes</a>
                <a  class="btn btn-info" title="No">No</a>
            </div>-->
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <div class="btn-group" role="group" aria-label="...">
                    <!--<button type="button" class="btn btn-success" title="Yes">Yes</button>
                    <button type="button" class="btn btn-danger" title="No">No</button>-->

                    <button type="button" class="btn btn-warning is{{hasQuestionTwo}}" title="Yes" ng-click="hasQuestionTwo=true">Yes</button>
                    <button type="button" class="btn btn-warning not{{hasQuestionTwo}}" title="No" ng-click="hasQuestionTwo=false">No</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- table -->
        <div class="table-box table-responsive" ng-show="hasQuestionTwo">
            <table class="table table-striped">
                <tr>
                    <th>Name of Organization</th>
                    <th>Type</th>
                    <th>Started</th>
                    <th>Ended</th>
                    <th>Comment</th>
                    <th>Date updated</th>
                    <th class="edit-remove" width="100"></th>
                </tr>
                <tr ng-repeat="question in disclosure.questionTwo.questions">
                  <td>{{question.organizationName}}</td>
                  <td>{{question.typeOfRelationship}}</td>
                  <td>{{question.startDate | date:'MM/dd/yyyy' }}</td>
                  <td>{{question.endDate  | date:'MM/dd/yyyy'}}</td>
                  <td>{{question.comment}}</td>
                  <td>{{question.updateDate  | date:'MM/dd/yyyy'}}</td>
                  <td>
                      <a ng-click="editQuestion(question, $index, 2)" title="edit"><i class="fa fa-pencil"></i></a>
                      <a ng-click="deleteQuestion(question, $index, disclosure.questionTwo.questions)" title="delete"><i class="fa fa-trash-o"></i></a>
                  </td>
                </tr>

            </table>
        </div>
        <!-- end table -->

        <!-- edit-mode -->
        <div class="edit-mode" ng-include="'views/templates/contributor/disclosure/questionTwo.html'" ng-show="questionTwo.isEditing"></div>
        <!-- end edit-mode -->

        <!-- button -->
        <div class="three-button">
            <div class="row">
                <div class="col-sm-6">
                    <div class="text-left">
                        <a  class="btn btn-warning" title="Add"  ng-click="addQuestion(2)" ng-disabled="questionTwo.index !== -1" ng-show="(hasQuestionTwo && !questionTwo.isEditing && questionTwo.index==-1)"> <i class="fa fa-plus"></i> Add another</a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="text-right" ng-show="questionTwo.isEditing">
                        <a  class="btn btn-warning" ng-click="saveQuestion(2)" title="Save"><i class="fa fa-floppy-o"></i> Save</a>
                        <a  class="btn btn-warning" ng-click="cancelQuestion(2)"title="Cancel"><i class="fa fa-times"></i> Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end button -->
        <!-- end question-2 -->

        <hr>
        <div class="ss-10"></div>

        <!-- question-3 -->
        <div class="row">
            <div class="col-sm-9">
                <p>
                    Q3 : Do you have any patents, whether planned, pending or issued broadly relevant to this work?
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <div class="btn-group" role="group" aria-label="...">
                    <!--<button type="button" class="btn btn-success" title="Yes">Yes</button>
                    <button type="button" class="btn btn-danger" title="No">No</button>-->

                    <button type="button" class="btn btn-warning is{{hasQuestionThree}}" title="Yes" ng-click="hasQuestionThree=true">Yes</button>
                    <button type="button" class="btn btn-warning not{{hasQuestionThree}}" title="No" ng-click="hasQuestionThree=false">No</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- table -->
        <div class="table-box table-responsive" ng-show="hasQuestionThree">
            <table class="table table-striped">
                <tr>
                    <th>Patent Number or Application Number</th>
                    <th>Pending</th>
                    <th>Issued</th>
                    <th>Licensed</th>
                    <th>Royalities</th>
                    <th>Licensee</th>
                    <th>Comment</th>
                    <th>Date updated</th>
                    <th class="edit-remove" width="100"></th>
                </tr>
                <!-- populate questions -->
                <tr ng-repeat="question in disclosure.questionThree.questions">
                  <td>{{question.patentNumber}}</td>
                  <td class="text-center"><i class="fa fa-check" ng-show="{{question.pending}}"></i></td>
                  <td class="text-center"><i class="fa fa-check" ng-show="{{question.issued}}"></td>
                  <td class="text-center"><i class="fa fa-check" ng-show="{{question.licensed}}"></td>
                  <td class="text-center"><i class="fa fa-check" ng-show="{{question.royalties}}"></i></td>
                  <td class="text-center"><i class="fa fa-check" ng-show="{{question.licensee}}"></i></td>
                  <td>{{question.comment}}</td>
                  <td>{{question.updateDate  | date:'MM/dd/yyyy' }}</td>
                  <td>
                      <a ng-click="editQuestion(question, $index,3)" title="edit"><i class="fa fa-pencil"></i></a>
                      <a ng-click="deleteQuestion(question, $index, disclosure.questionThree.questions)"  title="delete"><i class="fa fa-trash-o"></i></a>
                  </td>
                </tr>
            </table>
        </div>
        <!-- end table -->

        <!-- edit-mode -->
        <div class="edit-mode" ng-if="questionThree.isEditing" ng-include="'views/templates/contributor/disclosure/questionThree.html'"></div>

        <!-- end edit-mode -->

        <!-- button -->
        <div class="three-button">
            <div class="row">
                <div class="col-sm-6">
                    <div class="text-left">
                        <a  class="btn btn-warning" title="Add" ng-click="addQuestion(3)" ng-disabled="questionThree.index !== -1" ng-show="(hasQuestionThree && !questionThree.isEditing && questionThree.index==-1)"> <i class="fa fa-plus"></i> Add another</a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="text-right" ng-show="questionThree.isEditing">
                        <a  class="btn btn-warning" ng-click="saveQuestion(3)" title="Save"><i class="fa fa-floppy-o"></i> Save</a>
                        <a  class="btn btn-warning" ng-click="cancelQuestion(3)" title="Cancel"><i class="fa fa-times"></i> Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end button -->
        <!-- end question-3	 -->

        <hr>
        <div class="ss-10"></div>
        <!-- question-4 -->
        <div class="row">
            <div class="col-sm-9">
                <p>
                    Q4 : Are there any other activities or relationship which reader could percive to have infuencded or that might potenitaly infunening to your submit work? if yes please explain
                </p>
            </div>
            <!--<div class="col-sm-3 text-right">
                <a  class="btn btn-warning" title="Yes">Yes</a>
                <a  class="btn btn-info" title="No">No</a>
            </div>-->
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-warning is{{hasQuestionFour}}" title="Yes" ng-click="hasQuestionFour=true">Yes</button>
                    <button type="button" class="btn btn-warning not{{hasQuestionFour}}" title="No" ng-click="hasQuestionFour=false">No</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- table contenst of disclosures -->
        <div class="table-box table-responsive" ng-show="hasQuestionFour">
            <table class="table table-striped">
                <tr ng-repeat="question in disclosure.questionFour.questions">
                  <td>{{question.comment}}</td>
                  <td class="edit-remove">
                      <a ng-click="editQuestion(question, $index, 4)" title="edit"><i class="fa fa-pencil"></i></a>
                      <a ng-click="deleteQuestion(question, $index, disclosure.questionFour.questions)" title="delete"><i class="fa fa-trash-o"></i></a>
                  </td>
                </tr>
          </table>
        </div>
        <!-- ends table contenst of disclosures -->

        <!-- edit panel -->
        <div class="form-container" ng-if="questionFour.isEditing" ng-include="'views/templates/contributor/disclosure/questionFour.html'">
        </div>
        <!-- edit panel ends -->

        <div class="three-button">
            <div class="row">
                <div class="col-sm-6">
                    <div class="text-left">
                        <a  class="btn btn-warning" title="Add" ng-click="addQuestion(4)" ng-disabled="questionFour.index !== -1" ng-show="(hasQuestionFour && !questionFour.isEditing && questionFour.index==-1)"> <i class="fa fa-plus"></i> Add another</a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="text-right" ng-show="questionFour.isEditing">
                        <a  class="btn btn-warning " ng-click="saveQuestion(4)" title="Save"><i class="fa fa-floppy-o"></i> Save</a>
                        <a  class="btn btn-warning" ng-click="cancelQuestion(4)" title="Cancel"><i class="fa fa-times"></i> Cancel</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="button-finish">
            <button  class="btn btn-warning" type="submit" title="Finish">Finish</a>
        </div>
    </div>
</div>
</form>
<!-- Modal -->
<info-modal modal-id="disclosure-success" modal-title="Success" class="">
    <h2>Success! Your disclosure has been saved</h2>
    <p>
        Now complete the credential forms and you are ready to go!
    </p>
    <p>
      You will be invited to add any citations you would like to share with your readers too!
    </p>
</info-modal>

<info-modal modal-id="disclosure-fail" modal-title="Success" class="">
    <h2>Please check you have answered each question!</h2>
    <p>
        Even the 'Yes','No' questions need you to select an aswer before disclosures can be saved.
    </p>
</info-modal>
<!-- ajx loader -->
<ajax-loader></ajax-loader>
