<div class="footer-section">
    <div class="container">
        <div class="text-center">
            <ul>
                <li>
                    <a href="#" title="Roundpoint NowCe">Roundpoint NowCe</a>
                </li>
                <li>
                    <a href="#" title="San Francisco">San Francisco</a>
                </li>
                <li>
                    <a href="#" title="Cambridge">Cambridge</a>
                </li>
            </ul>
            <div class="footer-link">
                <a href="#" title="Home">Home</a> | <a href="#" title="Site Map">Site Map</a> | <a href="#"
                                                                                                   title="Terms & Conditions">Terms
                & Conditions</a> | <a href="#" title="About NowCE">About NowCE</a> | <a href="#"
                                                                                        title="Contact NowCE ">Contact
                NowCE </a>
            </div>

        </div>
    </div>
</div>
