<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <div class="panel panel-default text-center" ng-repeat="panel in panels">
            <div class="panel-body">
                <h3>{{panel.title}}</h3>
                <button class="btn btn-default" ng-click="panel.click()">{{panel.title}}</button>
            </div>
        </div>
    </div>
</div>
