<div class="header-section">
    <div class="nowce">
        <a href="#" title="Nowce">
            <img src="assets/vendor/profmed/images/nowce-wo.png" alt="Nowce">
        </a>
    </div>

    <div class="container" >
        <ul class="nav navbar-nav">
            <li>
                American Association of Learning
            </li>
              <li>
                  <a href="#/" ng-mouseover="showPageMenu=false" title="Home"><i class="flaticon stroke home"></i> <span class="ng-binding">Home</span></a>

              </li>
            <li ng-repeat="button in buttons | filter:right('')" ng-class="{'active': button.active ===true}" >
                <a  ng-mouseenter="showPageMenu=true"  href="{{button.link}}" title="{{button.title}}"><i class="{{button.class}}"></i> <span>{{button.title}}</span> <i ng-if="button.title=='Navigator'" class="flaticon stroke down-1"></i></a>

                <ul class="dropdown" ng-show="showPageMenu" showonhoverparent>
                  <li ng-repeat="page in button.dropdowns | filter:right('')" >
                      <a href="{{page.link}}" title="{{page.title}}"><span>{{page.title}}</span></a>
                  </li>
                </ul>
            </li>

        </ul>
    </div>

</div>
