
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h2>User Profile: {{user.fistName}} {{user.lastName}}</h2>
        </div>
    </div>
    <div class="panel-body">
        <form name="userForm" novalidate ng-submit="updateOwnerDetails()" class="form-horizontal">
            <div class="pull-right">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
            <div class="clearfix"></div>

            <div ng-class="{'has-error': userForm[field.name].$invalid}" class="form-group" ng-repeat="field in userFormFields">

              <!-- <ng-form name="{{field.name}}"> -->
                <label class="control-label col-sm-3">{{field.title}}<span ng-show="field.required">*</span></label>
                <div class="controls col-sm-6" ng-if="!field.select">
                    <input type="{{field.type || 'text'}}"  class="form-control"
                        name="{{field.name}}"
                        ng-model="userModel[field.name]"
                        ng-minlength="field.minlength"
                        ng-maxlength="field.maxlength || 100"
                        ng-disabled="field.disabled"
                        ng-required="field.required">
                </div>
<!--                         <div class="controls col-sm-6" ng-if="field.select">
                    <select type="{{field.type || 'text'}}"  class="form-control"
                        name="{{field.name}}"
                        ng-model="userModel[field.name]"
                        ng-init="country = countries[countrySelect]"
                        ng-model="country"
                        ng-options="country.name for country in countries"
                        ng-change="updateCountry()">
                    </select>
                </div> -->
            </div>
        </form>
    </div>
</div>
