<form name="userForm" ng-submit="onSubmitForm(userForm.$valid)" novalidate>
  <div class="container">
    <h1>Provider Registration</h1>
    <!-- provider section -->
    <h3>Provider</h3>
    <div class="form-container" ng-include="'views/templates/provider/signup/provider.html'"></div>

    <!-- program manager -->
    <h3>Program Manager<span>The person who will be running the CE program you create in NowCE</span></h3>
    <div class="form-container" ng-include="'views/templates/provider/signup/programManager.html'"></div>

    <!-- location address-->
    <h3>Location Address (from where your service will be provided)</h3>
    <div class="form-container" ng-include="'views/templates/provider/signup/location.html'"></div>

    <!-- remitance information -->
    <h3>Remitance imformation for PayGo service providers</h3>

    <label>Bank Account to be credited with revenue share payments</label>
    <div class="form-container" ng-include="'views/templates/provider/signup/remitance.html'"></div>

    <!-- administration matters -->
    <h3>Adminstration Matters</h3>
    <div class="form-container" ng-include="'views/templates/provider/signup/administration.html'"></div>

    <!-- NOW CE plan -->

    <h3>NowCE Plan</h3>
    <div class="form-container" ng-include="'views/templates/provider/signup/nowceplan.html'"></div>

    <!-- terms and conditions -->
    <div class="form-container">
      <div class="form-register pull-right">
        <div class="row-control">
          <input type="checkbox" data-label="I agree to ">I agree to <a href="#">Term and Coditions</a>
        </div>
        <button type="submit" class="btn btn-warning" title="Register">Register</button>
      </div>
    </div>

    <!-- <div class="row">
    <div class="col-xs-6">
    <a href="#" class="btn btn-default" title="Cancel"><i class="fa fa-times"></i> Cancel</a>
  </div>
  <div class="col-xs-6 text-right pull-right">
  <a href="javascript:void(0)" class="btn btn-warning" data-toggle="modal" data-target="#myModal" title="Save"><i class="fa fa-floppy-o"></i> Save</a>
  <a href="#" class="btn btn-warning" title="Next"><i class="fa fa-play"></i> Next</a>
</div>
</div> -->
</div>
</form>
<info-modal modal-id="provider-success" modal-title="Success" class="">
  <h2>Thank you!</h2>
  <p>
    We will expedite your registratio and invite you to one of our experts!
  </p>
  <p>
    You will be invited to add any citations you would like to share with your readers too!
  </p>
</info-modal>

<info-modal modal-id="provider-fail" modal-title="Success" class="">
  <h2>Please check you entries!</h2>
  <p>
    Please make sure you have entered all items marked*.
  </p>
</info-modal>
