<div class="panel panel-default">

    <div class="panel-heading">
        <div class="panel-title">
            <h2> Sign in </h2>
        </div>
    </div>
    <div class="panel-body">
        <form name="form.signin" ng-submit="signIn()" qn-validate="errors" class="form-horizontal">
            <div ng-class="{error: form.signin.userNameOrEmail.$error.pass}" class="form-group" ng-show="!passwordStep">
                <label class="control-label col-sm-3">User-name or email</label>
                <div class="controls col-sm-6">
                    <input type="text" name="userNameOrEmail" placeholder="User-name or email" ng-model="signinModel.userNameOrEmail" required="required" class="form-control" show-focus="!passwordStep">
                </div>
            </div>
            <div ng-class="{error: form.signin.password.$error.pass}" class="form-group" ng-show="passwordStep" >
                <label class="control-label col-sm-3">Password</label>
                <div class="controls col-sm-6">
                    <input type="password" name="password" placeholder="Password" ng-model="signinModel.password" class="form-control" show-focus="passwordStep">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <button type="button" class="btn btn-default" ng-show="passwordStep" ng-click="stepBack()">Back</button>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
                <div class="col-sm-offset-3 col-sm-6">

                </div>
            </div>
        </form>
        <ul class="list-inline">
            <li><a href="#/register">Register</a></li>
            <li><a href="#/forgotten">Forgotten</a></li>
        </ul>
    </div>
</div>

